{
  "DATABASE_NAME": "DATABASE_NAME",
  "DATABASE_USER": "DATABASE_USER",
  "DATABASE_PASSWORD": "DATABASE_PASSWORD",
  "DATABASE_HOST": "DATABASE_HOST",
  "DATABASE_PORT": "DATABASE_PORT",
  "CACHE_LOCATION": "CACHE_LOCATION",
  "DJANGO_SECRET_KEY": "DJANGO_SECRET_KEY",
  "REGISTRATION_SALT": "REGISTRATION_SALT",
  "AWS_ACCESS_KEY_ID": "AWS_ACCESS_KEY_ID",
  "AWS_SECRET_ACCESS_KEY": "AWS_SECRET_ACCESS_KEY",
  "MAILGUN_KEY": "MAILGUN_KEY",
  "MAILGUN_SERVER": "MAILGUN_SERVER",
  "TOKBOX_KEY": "TOKBOX_KEY",
  "TOKBOX_SECRET": "TOKBOX_SECRET",
  "STRIPE_KEY": "STRIPE_KEY",
  "WELCOME_CREDIT": 0,
  "WELCOME_CREDIT_TEXT": "Bonus site credit for participation in open beta test!",
  "CONSOLATION_CREDIT": 0,
  "CONSOLATION_CREDIT_TEXT": "Better luck next time credit!"
}
