{% if is_promoted %}
    <span class="u-label g-rounded-3 g-bg-primary over-overlay" data-toggle="tooltip" data-placement="top" title="Official Bokaru event!">
        <i class="icon-trophy g-mr-3"></i>
        Promoted
    </span>
{% endif %}
{% if is_cancelled %}
    <span class="u-label g-rounded-3 g-bg-primary over-overlay" data-toggle="tooltip" data-placement="top" title="Event is cancelled, not enough participants">
        <i class="icon-ban g-mr-3"></i>
        Cancelled
    </span>
{% else %}
    {% if is_starting_soon %}
    <span class="u-label g-rounded-3 g-bg-primary over-overlay" data-toggle="tooltip" data-placement="top" title="Go join the event now!">
        <i class="icon-fire g-mr-3"></i>
        Starting shortly!
    </span>
    {% elif is_starting_within_a_day %}
    <span class="u-label g-rounded-3 g-bg-primary over-overlay" data-toggle="tooltip" data-placement="top" title="Event starting in {{ hours_until_start }} hours!">
        <i class="icon-fire g-mr-3"></i>
        Upcoming
    </span>
    {% endif %}

    {% if is_hidden %}
    <span class="u-label g-rounded-3 g-bg-black over-overlay" data-toggle="tooltip" data-placement="top" title="Private event">
        <i class="icon-lock g-mr-3"></i>
        Private
    </span>
    {% endif %}

    {% if is_registered %}
    <span class="u-label g-rounded-3 g-bg-black over-overlay" data-toggle="tooltip" data-placement="top" title="You are registered for this event">
        <i class="icon-star g-mr-3"></i>
        Registered
    </span>
    {% endif %}
{% endif %}
