{% extends 'web/base_nav.html' %}

{% load staticfiles %}

{% block title %}Bokaru | Leave event {{ event.name }}{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 g-offset-md-3 g-my-100 text-center u-zigzag-top u-zigzag-bottom">
                <!-- Event Info -->
                <div class="u-heading-v1-1 g-bg-secondary g-brd-primary g-my-50">
                    <h1 class="u-heading-v1__title">Are you sure you want to leave this event?</h1>
                </div>
                <h1 class="g-color-dark g-font-weight-300 g-font-size-45 g-line-height-1 mb-4">
                    <a href="{% url 'event:view' event_id=event.id %}">{{ event.name }}</a>
                </h1>
                <h2 class="g-font-weight-300 g-font-size-30 mb-0">{{ event.startDateTime|date:'l, N d, Y @ P' }}</h2>
                <h3 class="g-color-primary g-font-weight-400 g-font-size-30 mb-0">{{ event.locationName }}</h3>

                <form method="post">
                    {% csrf_token %}
                    <button class="btn btn-lg btn-block u-btn-primary g-mt-20 rounded-0">
                        Yes, I'm sure!
                    </button>
                    <a href="{% url 'event:view' event_id=event.id %}" class="btn btn-lg btn-block u-btn-black g-mt-20 g-mb-50 rounded-0">
                        Nope, I changed my mind!
                    </a>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
<script>
    gtag('event', 'event_leave', {
        'event_category': 'engagement',
        'event_label': '{{ event.name }}',
    });
</script>
{% endblock %}
