{% extends 'web/base.html' %}

{% load staticfiles %}

{% block content %}

<div class="container content profile">
    <div class="row">
        <!-- Profile Content -->
        <div class="col-md-12">
            <div class="profile-body margin-bottom-20">
                <div class="tab-v1">

                    <div class="tab-content">
                        <form method="post" action="{% url 'web:eventjoined' %}">
                            {% csrf_token %}
                            <div id="profile" class="profile-edit tab-pane fade in active">
                                <h2 class="heading-md">Enter payment information</h2>
                                <p></p>
                                <br>
                                <dl class="dl-horizontal">
                                    <dt><strong>Credit Card Number </strong></dt>
                                    <dd>

                                        [Card number]

                                    </dd>
                                    <hr>
                                    <dt><strong>Expiry Date </strong></dt>
                                    <dd>
                                        [CITY]

                                    </dd>
                                    <hr>
                                    <dt><strong>CVV</strong></dt>
                                    <dd>
                                        [CVV]
                                    </dd>
                                    <hr>

                                </dl>
                                <p style="text-align: center">
                                    <button type="submit" class="btn-u rounded">Submit Payment</button>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Profile Content -->
    </div><!--/end row-->
</div>
<!--=== End Profile ===-->
{% endblock %}

