{% extends 'web/base.html' %}


{% load staticfiles %}


{% block header %}

<link rel="stylesheet" href="{% static 'web/css/search.css' %}">


{% endblock %}


{% block content %}

<!--=== Container Part ===-->
<div class="container">
    <div class="content">
            <h2 class="heading-md search_title">Was it a match?</h2>
            <div class="row md-margin-bottom-80">
            <div class="col-md-12 margin-bottom-80" style="text-align: center">



                    <input type="submit" class="btn-u btn-u-lg btn-u-red" style="width: 150px; margin-right: 40px;" value="Yes">
                    <input type="submit" class="btn-u btn-u-lg btn-u-red" style="width: 150px;" value="No">

            </div>

            <div class="col-md-12 margin-bottom-80" style="text-align: center">
                Your contact information will be shared with this user in the event that they select you as a match as well.
            </div>
        </div>
    </div>
</div>
<!--=== End Container Part ===-->


{% endblock %}

{% block javascript %}
<script type="text/javascript">
	function reloadPage(){
	    location.reload();
	}
    setTimeout(reloadPage, {{date.time_until_reload}});

</script>
{% endblock %}
