{% extends 'web/base.html' %}


{% load staticfiles %}

{% block content %}

<!--=== Container Part ===-->
<div class="container">
    <div class="content">
        <!-- Magazine Slider -->
        <div class="carousel slide carousel-v2 margin-bottom-40" id="portfolio-carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img class="full-width img-responsive" src="{% static 'web/theme/img/mockup/img2.jpg' %}" alt="">
                </div>
            </div>
        </div>
        <!-- End Magazine Slider -->

        <div class="row margin-bottom-60">
            <div class="col-sm-8">
                <div class="headline"><h2>Talking to: {{date.fullName}}</h2></div>
                <div class="headline"><h2>Seconds since start: {{date.time_passed}}, reload in: {{date.time_until_reload}}</h2></div>
                <div class="headline"><h2>Is talking now: {{date.is_active}}</h2></div>
                <div class="headline"><h2>Summary</h2></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in urna nec risus maximus ultricies.
                    Nam nisi mauris, congue non lacus iaculis, interdum luctus dolor. Maecenas pellentesque sapien nec
                    mauris dictum, et mollis lorem eleifend. In hac habitasse platea dictumst. Fusce nec elit et metus
                    blandit posuere eget id ante. Integer fermentum auctor neque eu venenatis. Praesent diam eros,
                    mollis a mattis sit amet, scelerisque sit amet dui. Morbi sed lectus ut lorem vehicula interdum a
                    nec dui. Nam at placerat risus. Mauris eget faucibus tortor. Sed sed iaculis ligula. Aliquam
                    porttitor viverra sagittis.</p>

                <div class="headline"><h2>Notes</h2></div>
                <textarea cols="80" id="id_summary" maxlength="2000" name="summary" rows="11"></textarea>
            </div>

            <div class="col-sm-4">
                <div class="headline"><h2>Details</h2></div>
                <ul class="list-unstyled project-details">
                    <li><strong>Location: Test</strong> Web Design</li>
                    <li><strong>Age:</strong> 17 October 2014</li>
                    <li><strong>Gender:</strong>{{date.account.gender}}</li>
                    <li><strong>Height:</strong>{{date.account.height}}</li>
                    <li><strong>Body Type:</strong>{{date.account.bodyType}}</li>
                    <li><strong>Education:</strong>{{date.account.education}}</li>
                    <li><strong>Profession:</strong>{{date.account.height}}</li>
                    <li><strong>Relationship:</strong>{{date.account.relationshipStatus}}</li>
                    <li><strong>Orientation:</strong>{{date.account.sexualOrientation}}</li>
                    <li><strong>Identity:</strong>{{date.account.sexualIdentity}}</li>
                    <li><strong>Ethnicity:</strong>{{date.account.ethnicity}}</li>
                    <li><strong>Religion:</strong>{{date.account.religion}}</li>
                    <li><strong>Languages:</strong>{{date.account.languages}}</li>
                    <li><strong>Kids:</strong>{{date.account.kids}}</li>
                    <li><strong>Vices:</strong>{{date.account.vices}}</li>
                    <li><strong>Diet:</strong>{{date.account.diet}}</li>
                </ul>
            </div>
        </div>

        <h1>DEBUG EVENT: {{event.name}} {{event.startDateTime}} - {{event.endDateTime}}</h1>
        <h1>DEBUG is_in_progress: {{event.is_in_progress}}</h1>
        <h1>DEBUG is_starting_soon: {{event.is_starting_soon}}</h1>
        <h1>DEBUG is_ended_recently: {{event.is_ended_recently}}</h1>


    </div>
</div>
<!--=== End Container Part ===-->

{% endblock %}

{% block javascript %}
<script type="text/javascript">
	function reloadPage(){
	    location.reload();
	}
    setTimeout(reloadPage, {{date.time_until_reload}});

</script>
{% endblock %}
