{% extends 'web/base_chat.html' %}

{% load staticfiles %}
{% load event_tags %}
{% load account_tags %}

{% block title %}Bokaru | Live chat{% endblock %}

{% block header %}
<script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row g-min-height-50vh">
            <div class="col-md-12 g-bg-gray-dark-v1">
                <!-- Countdown -->
                <div class="text-uppercase g-color-white text-center g-py-30">
                    <h5 class="g-font-size-42">Event <span class="g-color-primary">{{ event.name }}</span> is starting in</h5>
                    <div class="js-countdown u-countdown-v3 g-line-height-1_2 g-font-weight-300 g-color-white"
                         data-end-date="{{ event.startDateTime|date:'Y/m/d H:i:00' }}"
                         data-month-format="%m" data-days-format="%D" data-hours-format="%H"
                         data-minutes-format="%M" data-seconds-format="%S">

                        <div class="d-inline-block text-center g-mx-15 mb-3">
                            <div class="js-cd-hours g-font-weight-500 g-font-size-36">00</div>
                            <span class="g-color-gray-dark-v4 g-font-size-24">Hours</span>
                        </div>

                        <div class="hidden-down d-inline-block align-top g-font-size-36">:</div>

                        <div class="d-inline-block text-center g-mx-15 mb-3">
                            <div class="js-cd-minutes g-font-weight-500 g-font-size-36">00</div>
                            <span class="g-color-gray-dark-v4 g-font-size-24">Minutes</span>
                        </div>

                        <div class="hidden-down d-inline-block align-top g-font-size-36">:</div>

                        <div class="d-inline-block text-center g-mx-15 mb-3">
                            <div class="js-cd-seconds g-font-weight-500 g-font-size-36">00</div>
                            <span class="g-color-gray-dark-v4 g-font-size-24">Seconds</span>
                        </div>
                    </div>
                </div>
                <!-- Countdown End -->
            </div>
            <div class="col-md-12 g-mt-20 text-center g-bg-secondary">
                <h1>System check</h1>
                <h3>Before your first date starts, let's make sure that everything is set up properly.</h3>
            </div>
            <div class="col-md-6 g-bg-secondary">
                <h2>Hardware checklist</h2>
                <ul style="list-style: none;">
                    <li>
                        <i class="fa fa-video-camera g-color-primary"></i>
                        Is your camera connected and pointed at your face?
                    </li>
                    <li>
                        <i class="fa fa-headphones g-color-primary"></i>
                        Do you have a microphone or a headset?
                    </li>
                    <li>
                        <i class="fa fa-volume-up g-color-primary"></i>
                        Turn the volume up to the required level.
                    </li>
                    <li>
                        <i class="fa fa-signal g-color-primary"></i>
                        Is your internet connection fast and stable?
                    </li>
                </ul>
            </div>
            <div class="col-md-6 g-bg-secondary">
                <h2>Automatic connection test</h2>

                <p id="welcome_text">
                    Let's make sure that you computer, browser and internet connection are all up to the task of connecting you to all your dates!
                </p>

                <button id="start_button" class="btn u-btn-primary rounded-0 g-mb-20 g-relative-centered--x">
                    <i class="fa fa-video-camera g-mr-15"></i>
                    Start test
                </button>

                <div id="status_container" style="display:none;">
                    <p class="lead">Acquiring camera</p>
                    <span id="spinner" class="u-icon-v1 u-icon-size--lg g-mb-20 g-relative-centered--x">
                        <i class="fa fa-spinner spin g-color-primary"></i>
                    </span>
                    <span id="result_ok" class="u-icon-v1 u-icon-size--lg g-mb-20 g-relative-centered--x" style="display:none;">
                        <i class="fa fa-check-square-o g-color-primary"></i>
                    </span>
                    <span id="result_error" class="u-icon-v1 u-icon-size--lg g-mb-20 g-relative-centered--x" style="display:none;">
                        <i class="fa fa-times-circle g-color-primary"></i>
                    </span>
                    <span id="result_warning" class="u-icon-v1 u-icon-size--lg g-mb-20 g-relative-centered--x" style="display:none;">
                        <i class="fa fa-exclamation-triangle g-color-primary"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-12 text-center g-my-50">
                <h1>Your dates:</h1>
                <p>Take a look at your dates' profiles while you are waiting for the event to start.</p>
            </div>
            <div class="col-md-12">
                <ul class="row u-timeline-v2-wrap list-unstyled">
                    {% for date in dates %}
                    <li class="col-md-12 g-mb-40">
                        <div class="row">
                            <div class="col-md-3 text-md-right g-pt-20--md g-pr-40--md g-mb-20">
                                <!-- User Image -->
                                <div class="u-shadow-v1-3">
                                    {% if date.is_break %}
                                    <img class="img-fluid w-100" src="{% static 'web/images/break_image.jpg' %}"/>
                                    {% elif date.account.photo is None or date.account.photo.name == '' %}
                                    <img class="img-fluid w-100" src="{% static 'web/images/user_default_image.jpg' %}"/>
                                    {% else %}
                                    <img class="img-fluid w-100" src="{{ date.account.photoMedium.url }}"/>
                                    {% endif %}
                                </div>
                            </div>

                            <!-- Timeline Content -->
                            <div class="col-md-9 g-orientation-left g-pl-40--md">
                                <!-- Timeline Dot -->
                                <div class="g-hidden-sm-down u-timeline-v2__icon g-top-35">
                                    <i class="d-block g-width-18 g-height-18 g-bg-white g-brd-around g-brd-3 g-brd-gray-light-v5 rounded-circle"></i>
                                </div>
                                <!-- End Timeline Dot -->

                                <div class="g-pos-rel">
                                    <!-- Timeline Arrow -->
                                    <div class="g-hidden-sm-down u-triangle-inclusive-v1--right g-top-30 g-z-index-2">
                                        <div class="u-triangle-inclusive-v1--right__back g-brd-gray-light-v4-right"></div>
                                    </div>
                                    <div class="g-hidden-md-up u-triangle-inclusive-v1--top g-left-20 g-z-index-2">
                                        <div class="u-triangle-inclusive-v1--top__back g-brd-gray-light-v4-bottom"></div>
                                    </div>

                                    {% if date.is_break %}
                                    <article class="g-rounded-4 g-pa-15 g-my-10 profile">
                                        <div class="row g-ml-0">
                                            <div class="col-12 g-mb-0--md g-py-70--md">
                                                <h3>Break</h3>
                                                <p>There are fewer people in the other group, so we had to schedule a break between your dates.</p>
                                            </div>
                                        </div>
                                    </article>
                                    {% else %}
                                    {% render_profile_large date.account date.memo %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% csrf_token %}
{% endblock %}

{% block javascript %}
<script>
$(document).on('ready', function () {
    let csrftoken = $('[name=csrfmiddlewaretoken]').val()

    // Handle memo button clicks
    $('.save_memo_button').click(function() {
        user_id = $(this).data('user-id')
        let memo = $('.memo[data-user-id=' + user_id +']')
        let saving = $('.saving_memo[data-user-id=' + user_id +']')
        let text = memo.val()
        $.ajaxSetup({
            headers: {
                'X-CSRFToken': csrftoken
            }
        })
        saving.show()
        $.post('/memo/about/'+ user_id + '/', text, function() {
            saving.hide()
        })
    })
})

var API_KEY = '{{ tokbox_api_key }}';
var SESSION_ID = '{{ sessionID }}';
var TOKEN = '{{ token }}';
</script>
<script src="{% static 'chat/js/network_test.js' %}"></script>

<script>
    gtag('event', 'chat_lobby', {
        'event_category': 'chat',
        'event_label': '{{ event.name }}'
    });
</script>
{% endblock %}
