{% extends 'web/base_nav.html' %}

{% load staticfiles %}
{% load event_tags %}

{% block title %}Bokaru | Live chat{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row g-min-height-50vh">
            <div class="col-md-12 g-mt-50--md" style="text-align: center;">
                <h1>No events starting soon</h1>
                {% if next_event %}
                <h2>Next event is coming up in {{ next_event.startDateTime|timeuntil }}</h2>
                <div class="g-my-50">
                    <!-- Event -->
                    {% render_event_large next_event %}
                    <!-- End Event -->
                </div>
                {% else %}
                <div class="heading margin-bottom-40">
                    <h2>You have not signed up for any events yet</h2>
                    <br/>
                    <h2><a href="{% url 'web:search' %}">Find one now!</a></h2>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
<script>
    gtag('event', 'chat_none', {
        'event_category': 'chat'
    });
</script>
{% endblock %}
