{% extends 'web/base_nav.html' %}

{% load staticfiles %}
{% load account_tags %}

{% block title %}Bokaru | Live chat{% endblock %}

{% block content %}
<section>
    <div class="container g-min-height-50vh">
        <div class="row text-center g-my-50">
            <div class="col-12">
                <h1>TADA!</h1>
                {% if matches|length > 0 %}
                <h3>The event is over now. Check out your matches below!</h3>
                {% else %}
                <h3>You didn't match with anyone in this event.</h3>
                {% endif %}
            </div>
        </div>
        <div class="row g-my-50">
            {% for match in matches %}
            <div class="col-sm-6">
                {% render_profile_medium_by_user match %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
