{% extends 'web/base_nav.html' %}

{% load staticfiles %}
{% load account_tags %}

{% block title %}Bokaru | Live chat{% endblock %}

{% block content %}
<section>
    <div class="container g-min-height-50vh">
        <div class="row text-center g-my-50">
            <div class="col-12">
                {% if matches|length > 0 %}
                <h1>TADA!</h1>
                <h3>The event is over now. Check out your matches below!</h3>
                {% else %}
                <h1>Whoops!</h1>
                <h3>You didn't match with anyone in this event.</h3>
                {% if consolation_credit > 0 %}
                <h4 class="h1 g-mt-25">On the positive side, here's a credit for <span class="g-color-primary">CAD ${{consolation_credit|floatformat:"2"}}</span> to try again!</h4>
                {% endif %}
                {% endif %}
                <h3 class="g-my-100">Please take a minute to fill out our
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSf-88TyVnrEIC-KjJHRALxUaG44EZXGG8R7qfVyKzDAIqgC5g/viewform?usp=pp_url&entry.1423063305={{user.username}}&entry.919213445={{event.id}}&entry.349499540&entry.543626436&entry.280677627"
                   target="_blank" class="btn btn-lg u-btn-primary rounded-0">Questionnaire</a>
                </h3>
            </div>
        </div>
        <div class="row g-my-50">
            {% for match in matches %}
            <div class="col-sm-6">
                {% render_profile_medium_by_user match %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}



{% block javascript %}
<script>
    gtag('event', 'chat_done', {
        'event_category': 'chat',
        'event_label': '{{ event.name }}'
    });
</script>
{% endblock %}
