{% extends 'web/base_nav.html' %}

{% load staticfiles %}
{% load account_tags %}

{% block title %}Bokaru | Live chat{% endblock %}

{% block content %}
<section>
    <div class="container g-min-height-50vh">
        <div class="row text-center g-my-50">
            <div class="col-12">
                {% if matches|length > 0 %}
                <h1>TADA!</h1>
                <h3>The event is over now. Check out your matches below!</h3>
                {% else %}
                <h1>Whoops!</h1>
                <h3>You didn't match with anyone in this event.</h3>
                {% endif %}
                <h3>Please take a minute to fill out our
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSf-88TyVnrEIC-KjJHRALxUaG44EZXGG8R7qfVyKzDAIqgC5g/viewform?usp=pp_url&entry.1423063305={{user.username}}&entry.919213445={{event.id}}&entry.349499540&entry.543626436&entry.280677627"
                   target="_blank" class="btn btn-lg btn-primary rounded-0">Questionnaire</a>
                </h3>
            </div>
        </div>
        <div class="row g-my-50">
            {% for match in matches %}
            <div class="col-sm-6">
                {% render_profile_medium_by_user match %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
