{% extends 'web/base.html' %}

{% load staticfiles %}

{% block content %}

<div class="container content profile">
    <div class="row">
        <!-- Profile Content -->
        <div class="col-md-12">
            <div class="profile-body margin-bottom-20">
                <div class="tab-v1">
                    <div class="tab-content">
                        <h1>Your card is removed successfully.</h1>
                        <p>deleted: {{ deleted }}</p>
                        <p>card_found: {{ card_found }}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Profile Content -->
    </div><!--/end row-->
</div>
<!--=== End Profile ===-->
{% endblock %}
