{% extends 'web/base.html' %}

{% load staticfiles %}

{% block content %}

<div class="container content profile">
    <div class="row">
        <!-- Profile Content -->
        <div class="col-md-12">
            <div class="profile-body margin-bottom-20">
                <div class="tab-v1">
                    <div class="tab-content">
                        <h1>Your card is registered successfully.</h1>
                        <strong>existing card found: {{ card_found }}</strong>

                        <p>{{ payment_info.stripe_customer_id }}</p>
                        <p>{{ payment_info.credit_card_brand }}</p>
                        <p>{{ payment_info.credit_card_last_4 }}</p>
                        <p>{{ payment_info.credit_card_exp_month }}</p>
                        <p>{{ payment_info.credit_card_exp_year }}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Profile Content -->
    </div><!--/end row-->
</div>
<!--=== End Profile ===-->
{% endblock %}
