{% extends 'account/profile_template.html' %}


{% load staticfiles %}





{% block profile_content %}


<h2 class="heading-md">Manage your Payment Methods.</h2>
<h5 class="heading-md">Edit the payment method used to pay for events.</h5>



							<div class="profile-body margin-bottom-60">

                                 {% if credit_card %}
                        <form action="{% url 'account:credit_card_edit' %}" method="post" id="edit-form">
                            {% csrf_token %}

                            <div class="card_info_container col-md-7">
                              <div class="card_info">
                                  <b>{{ credit_card.brand }}</b>&nbsp xxxx xxxx xxxx {{ credit_card.last4 }} &nbsp
                                  <input type="submit" class="submit btn-u rounded card_button" value="Edit"
                                         id="payment-form-submit">
                                  <input type="submit" class="submit btn-u rounded card_button" value="Remove"
                                         id="payment-form-submit">
                              </div>
                            </div>
                        </form>
                                   {% else %}

                                 <form action="{% url 'account:credit_card_edit' %}" method="post" id="edit-form">
                            {% csrf_token %}

                            <div class="card_info_container col-md-12">
                              <div class="card_info">
                                  You do not have a credit card on file. &nbsp
                                  <input type="submit" class="submit btn-u rounded card_button" value="Enter Credit Card"
                                         id="payment-form-submit">
                              </div>
                            </div>
                        </form>

                                {% endif %}
					</div>





{% endblock %}


{% block javascript %}







<link rel="stylesheet" href="{% static 'account/css/credit_card.css' %}">



<script>

setActiveLink($("#payment_link"));

</script>

 {% if not credit_card %}
<script src="http://js.stripe.com/v3/"></script>

<script type="text/javascript">

    // Create a Stripe client
var stripe = Stripe('pk_test_UiyVevDApASul2gRmo7TcDjF');

// Create an instance of Elements
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
// (Note that this demo uses a wider set of styles than the guide below.)
var style = {
  base: {
    color: '#32325d',
    lineHeight: '24px',
    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
    fontSmoothing: 'antialiased',
    fontSize: '16px',
    '::placeholder': {
      color: '#aab7c4'
    }
  },
  invalid: {
    color: '#fa755a',
    iconColor: '#fa755a'
  }
};

// Create an instance of the card Element
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>
card.mount('#card-element');

// Handle real-time validation errors from the card Element.
card.addEventListener('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});

// Handle form submission
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the user if there was an error
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server
      stripeTokenHandler(result.token);
    }
  });
});




function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  // Submit the form
  form.submit();
}
</script>

{% endif %}
{% endblock %}