{% extends 'web/base_auth.html' %}
{% load staticfiles %}

{% block title %}Bokaru | Activation Complete{% endblock %}

{% block content %}
<h2 class="h4 g-font-weight-700 mb-4">Your account is activated successfully!</h2>
<p>You may go ahead and log in now.</p>
<div class="row">
    <div class="col-md-12">
        <a href="{% url 'login' %}" class="btn btn-lg btn-block u-btn-primary g-mb-10 rounded-0">Log In</a>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    gtag('event', 'register_activated', {
        'event_category': 'engagement',
    });
</script>
{% endblock %}

