{% extends 'web/base_auth.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Bokaru | Log In{% endblock %}

{% block content %}

<form class="g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30" method="post">
    <h2 class="h4 g-font-weight-700 mb-4">Log In</h2>

    <!-- errors -->
    {% if form.non_field_errors %}
    <div class="alert fade show g-bg-red-opacity-0_1 g-color-lightred rounded-0" role="alert">
        <div class="media">
            <div class="d-flex g-mr-10">
                <i></i>
            </div>
            <div class="media-body">
                {% for error in form.non_field_errors %}
                <strong>{{ error|escape }}</strong>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    {% csrf_token %}
    <!-- username -->
    <div class="form-group g-mb-20 {% if form.username.errors %}u-has-error-v1{% endif %}">
        <div class="u-input-group-v2">
            {% render_field form.username class="form-control rounded-0 u-form-control0" %}
            <label for="id_username">Username</label>
        </div>
        {% if form.username.errors %}
        <small class="form-control-feedback">{{form.username.errors}}</small>
        {% endif %}
    </div>

    <!-- password -->
    <div class="form-group g-mb-20 {% if form.password.errors %}u-has-error-v1{% endif %}">
        <div class="u-input-group-v2">
            {% render_field form.password class="form-control rounded-0 u-form-control0" %}
            <label for="id_password">Password</label>
        </div>
        {% if form.password.errors %}
        <small class="form-control-feedback">{{form.password.errors}}</small>
        {% endif %}
    </div>

    <p class="pull-right"><a href="{% url 'password_reset' %}">Forgot password or username?</a></p>

    <button type="submit" class="btn btn-lg btn-block u-btn-primary g-mb-10 rounded-0">Sign In</button>

    <a href="{% url 'account:register' %}" class="btn btn-lg btn-block u-btn-primary g-mb-10 rounded-0">Register</a>
</form>

{% endblock %}
