{% extends 'web/noheader.html' %}

{% load staticfiles %}

{% block content %}


<!--=== Content Part ===-->
<div class="container-fluid">
    <div class="row equal-height-columns">
        <div class="col-md-6 col-sm-6 hidden-xs image-block equal-height-column owl-background-repeat"></div>

        <div class="col-md-6 col-sm-6 form-block equal-height-column">
            <a href="{% url 'web:index' %}">
                <img src="{% static 'web/theme/img/bokaru-logo.png' %}" alt="">

            </a>
            <h2 class="margin-bottom-30">Password reset complete</h2>

          {% if form.errors %}
            {{form.errors}}
            <ul>
                {% for error in form.errors.all %}
                <li>
                    {{error}}
                </li>
                {% endfor %}
            </ul>
            {% endif %}

                <div class="login-block">
                    <div class="input-group margin-bottom-20">
                       Your password has been set. You may go ahead and log in now.
                    </div>


                    <div class="row margin-bottom-70">
                        <div class="col-md-12">
                            <a href="/account/login/" class="btn-u btn-u-red btn-block rounded">Login</a>
                        </div>
                    </div>


                </div>

        </div>
    </div>
</div><!--/container-->
<!--=== End Content Part ===-->



{% endblock %}

{% block javascript %}


<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}



</script>

{% endblock %}