{% extends 'web/base_auth.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Bokaru | Reset Password{% endblock %}

{% block content %}
<form class="g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30" method="post">
    <h2 class="h4 g-font-weight-700 mb-4">Enter your email address to reset your password</h2>

    <!-- errors -->
    {% if form.non_field_errors %}
    <div class="alert fade show g-bg-red-opacity-0_1 g-color-lightred rounded-0" role="alert">
        <div class="media">
            <div class="d-flex g-mr-10">
                <i></i>
            </div>
            <div class="media-body">
                {% for error in form.non_field_errors %}
                <strong>{{ error|escape }}</strong>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    {% csrf_token %}

    <!-- email -->
    <div class="form-group g-mb-20 {% if form.email.errors %}u-has-error-v1{% endif %}">
        <div class="input-group g-brd-primary--focus">
            <div class="input-group-addon d-flex align-items-center g-color-gray-light-v1 rounded-0">
                <i class="icon-envelope-open"></i>
            </div>
            {% render_field form.email class="form-control form-control-md border-left-0 rounded-0 pl-0" placeholder="Email" %}
        </div>
        {% if form.email.errors %}
        <small class="form-control-feedback">{{form.email.errors}}</small>
        {% endif %}
    </div>

    <button type="submit" class="btn btn-lg btn-block u-btn-primary g-mb-10 rounded-0">Reset</button>
</form>

{% endblock %}

