{% extends 'account/base_preferences.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Bokaru | Change Password{% endblock %}

{% block sub_nav_location %}sub-nav-password{% endblock %}

{% block profile_content %}
<div class="row">
    <div class="col-lg-12">
        <form method="post">
            <h2>Change password</h2>
            <h5>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you
                typed it in correctly.</h5>

            <!-- errors -->
            {% if form.non_field_errors %}
            <div class="alert fade show g-bg-red-opacity-0_1 g-color-lightred rounded-0" role="alert">
                <div class="media">
                    <div class="d-flex g-mr-10">
                        <i></i>
                    </div>
                    <div class="media-body">
                        {% for error in form.non_field_errors %}
                        <strong>{{ error|escape }}</strong>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}

            {% csrf_token %}

            <!-- old_password -->
            <div class="form-group g-mb-20 {% if form.old_password.errors %}u-has-error-v1{% endif %}">
                <div class="input-group g-brd-primary--focus">
                    <div class="input-group-addon d-flex align-items-center g-color-gray-light-v1 rounded-0">
                        <i class="icon-lock"></i>
                    </div>
                    {% render_field form.old_password class="form-control form-control-md border-left-0 rounded-0 pl-0" placeholder="Old Password" %}
                </div>
                {% if form.old_password.errors %}
                <small class="form-control-feedback">{{form.old_password.errors}}</small>
                {% endif %}
            </div>

            <h5>
                <ul>
                    <li>Your password can't be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can't be a commonly used password.</li>
                    <li>Your password can't be entirely numeric.</li>
                </ul>
            </h5>

            <!-- new_password1 -->
            <div class="form-group g-mb-20 {% if form.new_password1.errors %}u-has-error-v1{% endif %}">
                <div class="input-group g-brd-primary--focus">
                    <div class="input-group-addon d-flex align-items-center g-color-gray-light-v1 rounded-0">
                        <i class="icon-lock"></i>
                    </div>
                    {% render_field form.new_password1 class="form-control form-control-md border-left-0 rounded-0 pl-0" placeholder="New Password" %}
                </div>
                {% if form.new_password1.errors %}
                <small class="form-control-feedback">{{form.new_password1.errors}}</small>
                {% endif %}
            </div>

            <!-- new_password2 -->
            <div class="form-group g-mb-20 {% if form.new_password2.errors %}u-has-error-v1{% endif %}">
                <div class="input-group g-brd-primary--focus">
                    <div class="input-group-addon d-flex align-items-center g-color-gray-light-v1 rounded-0">
                        <i class="icon-lock"></i>
                    </div>
                    {% render_field form.new_password2 class="form-control form-control-md border-left-0 rounded-0 pl-0" placeholder="Repeat Password" %}
                </div>
                {% if form.new_password2.errors %}
                <small class="form-control-feedback">{{form.new_password2.errors}}</small>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-lg btn-block u-btn-primary g-mb-10 rounded-0">Update</button>
            <a href="{% url 'auth_password_reset' %}">Reset forgotten password</a>
        </form>
    </div>
</div>
{% endblock %}
