{% extends 'web/base_auth.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Bokaru | Password Reset{% endblock %}

{% block content %}
{% if validlink %}
<form class="g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30" method="post">
    <h2 class="h4 g-font-weight-700 mb-4">Please enter your new password</h2>

    <!-- errors -->
    {% if form.non_field_errors %}
    <div class="alert fade show g-bg-red-opacity-0_1 g-color-lightred rounded-0" role="alert">
        <div class="media">
            <div class="d-flex g-mr-10">
                <i></i>
            </div>
            <div class="media-body">
                {% for error in form.non_field_errors %}
                <strong>{{ error|escape }}</strong>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    {% csrf_token %}

    <!-- password 1 -->
    <div class="form-group g-mb-20 {% if form.new_password1.errors %}u-has-error-v1{% endif %}">
        <div class="input-group g-brd-primary--focus">
            <div class="input-group-addon d-flex align-items-center g-color-gray-light-v1 rounded-0">
                <i class="icon-lock"></i>
            </div>
            {% render_field form.new_password1 class="form-control form-control-md border-left-0 rounded-0 pl-0" placeholder="Password" %}
        </div>
        {% if form.new_password1.errors %}
        <small class="form-control-feedback">{{form.new_password1.errors}}</small>
        {% endif %}
    </div>

    <!-- password 2 -->
    <div class="form-group g-mb-20 {% if form.new_password2.errors %}u-has-error-v1{% endif %}">
        <div class="input-group g-brd-primary--focus">
            <div class="input-group-addon d-flex align-items-center g-color-gray-light-v1 rounded-0">
                <i class="icon-lock"></i>
            </div>
            {% render_field form.new_password2 class="form-control form-control-md border-left-0 rounded-0 pl-0" placeholder="Repeat Password" %}
        </div>
        {% if form.new_password2.errors %}
        <small class="form-control-feedback">{{form.new_password2.errors}}</small>
        {% endif %}
    </div>

    <button type="submit" class="btn btn-lg btn-block u-btn-primary g-mb-10 rounded-0">Change password</button>
</form>
{% else %}
<h2 class="h4 g-font-weight-700 mb-4">Password reset unsuccessful</h2>
<p class="g-font-size-13 mb-0">The password reset link was invalid, possibly because it has already been used.</p>
<p class="g-font-size-13 mb-0">Please request a new password reset.</p>
{% endif %}
{% endblock %}
