{% extends 'web/noheader.html' %}

{% load staticfiles %}

{% block content %}




<!--=== Content Part ===-->
<div class="container-fluid">
    <div class="row equal-height-columns">
        <div class="col-md-6 col-sm-6 hidden-xs image-block equal-height-column owl-background-repeat"></div>

        <div class="col-md-6 col-sm-6 form-block equal-height-column">
            <div class="reg-block" style="border-top: none">
                <a href="{% url 'web:index' %}">
                    <img src="{% static 'web/theme/img/bokaru-logo.png' %}" alt="">

                </a>
                <h2 class="margin-bottom-30">Create new account</h2>

                {% if form.errors %}
                <ul>
                    {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                    {% endfor %}
                </ul>
                {% endif %}

                <form method="post">
                    {% csrf_token %}

                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon rounded-left"><i class="icon-user color-red"></i></span>
                        <span class="form-control rounded-right django-form-field-text">{{ form.username }}</span>
                    </div>

                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon rounded-left"><i class="icon-pencil color-red"></i></span>
                        <span class="form-control rounded-right django-form-field-text">{{ form.fullName }}</span>
                    </div>

                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon rounded-left"><i class="icon-envelope color-red"></i></span>
                        <span class="form-control rounded-right django-form-field-text">{{ form.email }}</span>
                    </div>

                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon rounded-left"><i class="icon-envelope color-red"></i></span>
                        <span class="form-control rounded-right django-form-field-text">{{ form.email2 }}</span>
                    </div>

                    <div class="input-group margin-bottom-30">
                        <span class="input-group-addon rounded-left"><i class="icon-lock color-red"></i></span>
                        <span class="form-control rounded-right django-form-field-text">{{ form.password1 }}</span>
                    </div>

                    <div class="input-group margin-bottom-30">
                        <span class="input-group-addon rounded-left"><i class="icon-lock color-red"></i></span>
                        <span class="form-control rounded-right django-form-field-text">{{ form.password2 }}</span>
                    </div>

                    <div class="checkbox margin-bottom-30">
                        <label>
                            {{form.terms}} I agree to terms &amp; conditions
                        </label>

                        <label>
                            {{form.newsletter}} Subscribe to our newsletter
                        </label>
                    </div>

                    <button type="submit" class="btn-u btn-block rounded">Register</button>
                </form>
            </div>
        </div>
    </div>
</div><!--/container-->
<!--=== End Content Part ===-->

 {% endblock %}