{% extends 'web/base_auth.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Bokaru | Register{% endblock %}

{% block content %}
<form class="g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30" method="post">
    <h2 class="h4 g-font-weight-700 mb-4">Register</h2>

    <!-- errors -->
    {% if form.non_field_errors %}
    <div class="alert fade show g-bg-red-opacity-0_1 g-color-lightred rounded-0" role="alert">
        <div class="media">
            <div class="d-flex g-mr-10">
                <i></i>
            </div>
            <div class="media-body">
                {% for error in form.non_field_errors %}
                <strong>{{ error|escape }}</strong>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    {% csrf_token %}

    <!-- username -->
    <div class="form-group g-mb-20 {% if form.username.errors %}u-has-error-v1{% endif %}">
        <div class="u-input-group-v2">
            {% render_field form.username class="form-control rounded-0 u-form-control0" %}
            <label for="id_username">Username</label>
        </div>
        {% if form.username.errors %}
        <small class="form-control-feedback">{{form.username.errors}}</small>
        {% endif %}
    </div>

    <!-- name -->
    <div class="form-group g-mb-20 {% if form.fullName.errors %}u-has-error-v1{% endif %}">
        <div class="u-input-group-v2">
            {% render_field form.fullName class="form-control rounded-0 u-form-control0" %}
            <label for="id_fullName">Full Name</label>
        </div>
        {% if form.fullName.errors %}
        <small class="form-control-feedback">{{form.fullName.errors}}</small>
        {% endif %}
    </div>

    <!-- email -->
    <div class="form-group g-mb-20 {% if form.email.errors %}u-has-error-v1{% endif %}">
        <div class="u-input-group-v2">
            {% render_field form.email class="form-control rounded-0 u-form-control0" %}
            <label for="id_email">Email</label>
        </div>
        {% if form.email.errors %}
        <small class="form-control-feedback">{{form.email.errors}}</small>
        {% endif %}
    </div>

    <!-- password 1 -->
    <div class="form-group g-mb-20 {% if form.password1.errors %}u-has-error-v1{% endif %}">
        <div class="u-input-group-v2">
            {% render_field form.password1 class="form-control rounded-0 u-form-control0" %}
            <label for="id_password1">Password</label>
        </div>
        {% if form.password1.errors %}
        <small class="form-control-feedback">{{form.password1.errors}}</small>
        {% endif %}
    </div>

    <!-- password 2 -->
    <div class="form-group g-mb-20 {% if form.password2.errors %}u-has-error-v1{% endif %}">
        <div class="u-input-group-v2">
            {% render_field form.password2 class="form-control rounded-0 u-form-control0" %}
            <label for="id_password1">Repeat Password</label>
        </div>
        {% if form.password2.errors %}
        <small class="form-control-feedback">{{form.password2.errors}}</small>
        {% endif %}
    </div>

    <!-- Timezone -->
    <div class="form-group g-mb-20">
        {% render_field form.timezoneName class="form-control rounded-0 u-form-control0 u-select-v1" %}
        <small class="form-control-feedback">We will automatically convert event timing to this timezone, so please make sure it is correct.</small>
    </div>

    <!-- checkboxes -->
    <div class="row g-mb-30">
        <div class="col-md-6">
            <div class="form-group g-mb-10 {% if form.terms.errors %}u-has-error-v1{% endif %}">
                <label class="u-check g-pl-25">
                    {% render_field form.terms class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" %}
                    <div class="u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                        <i class="fa" data-check-icon=""></i>
                    </div>
                    I agree to <a href="{% url 'web:terms_of_service' %}" target="_blank">terms &amp; conditions</a>
                </label>
                <br/>
                {% if form.terms.errors %}
                <small class="form-control-feedback">{{form.terms.errors}}</small>
                {% endif %}
            </div>

            <div class="form-group g-mb-10">
                <label class="u-check g-pl-25">
                    {% render_field form.newsletter class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" %}
                    <div class="u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                        <i class="fa" data-check-icon=""></i>
                    </div>
                    Subscribe to our newsletter
                </label>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-lg btn-block u-btn-primary g-mb-10 rounded-0">Register</button>
</form>

{% endblock %}

{% block javascript %}
<script>
    gtag('event', 'register_view', {
        'event_category': 'engagement',
    });
</script>
{% endblock %}
