{% extends 'web/base_nav.html' %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Bokaru | Create event{% endblock %}

{% block nav_location %}nav_create_event{% endblock %}

{% block content %}
<!-- Event Block -->
<section class="g-mb-100">
    <div class="container">
        <div class="row g-mt-50--md g-mb-25">
            <div class="col-lg-12 text-center">
                <h2>Create a new event</h2>
            </div>
        </div>

        <!-- Progress bar -->
        <div class="row g-mb-25">
            <div class="col-lg-2">
                <div class="text-center">
                    <i class="u-dot-line-v2-2 g-brd-transparent--before g-brd-gray-light-v2--after g-mt-5">
                        <span class="u-dot-line-v2__inner g-bg-white--before g-brd-gray-light-v2--before"></span>
                    </i>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="text-center">
                    <i class="u-dot-line-v2-2 g-brd-gray-light-v2--before g-brd-gray-light-v2--after g-mt-5">
                        <span class="u-dot-line-v2__inner g-bg-white--before g-brd-gray-light-v2--before"></span>
                    </i>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="text-center">
                    <i class="u-dot-line-v2-2 g-brd-gray-light-v2--before g-brd-gray-light-v2--after g-mt-5">
                        <span class="u-dot-line-v2__inner g-bg-white--before g-brd-gray-light-v2--before"></span>
                    </i>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="text-center">
                    <i class="u-dot-line-v2-2 g-brd-gray-light-v2--before g-brd-gray-light-v2--after g-mt-5">
                        <span class="u-dot-line-v2__inner g-bg-white--before g-brd-gray-light-v2--before"></span>
                    </i>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="text-center">
                    <i class="u-dot-line-v2-2 g-brd-gray-light-v2--before g-brd-gray-light-v2--after g-mt-5">
                        <span class="u-dot-line-v2__inner g-bg-white--before g-brd-gray-light-v2--before"></span>
                    </i>
                </div>
            </div>
            <!-- Big dot -->
            <div class="col-lg-2">
                <div class="text-center">
                    <i class="u-dot-line-v1-2 g-brd-gray-light-v2--before g-brd-transparent--after">
                        <span class="u-dot-line-v1__inner g-bg-white g-bg-primary--before g-brd-gray-light-v2"></span>
                    </i>
                </div>
            </div>
        </div>
        <!-- Progress bar end -->

        <div class="row g-mb-25">
            <div class="col-lg-12 text-center">
                <h3>Preview the event</h3>
                <h5>Make sure everything is correct before clicking submit, you will not be able to edit the event.</h5>
            </div>
        </div>
    </div>
</section>

<!-- Preview -->
<section class="g-min-height-100vhg-flex-centered g-pos-rel g-brd-top g-brd-bottom g-brd-gray-light-v4">
    <div class="container g-pt-100">
        <div class="row">
            <div class="col-lg-6 order-md-2">
                <!-- Event image -->
                <div class="g-pos-rel u-shadow-v2 g-brd-around g-brd-gray-light-v4 g-line-height-2 g-mb-20">
                    <figure>
                        {% if all_data.image_data %}
                        <img class="img-fluid w-100" src="{{ all_data.image_data }}" alt="Event picture" id="event_image"/>
                        {% else %}
                        <img class="img-fluid w-100" src="{% static 'web/images/event_default_image.jpg' %}" alt="Default event picture" id="default_event_image"/>
                        {% endif %}
                    </figure>

                    <!-- Event type -->
                    <div class="g-pos-abs g-top-20 g-left-0 d-inline-block">
                        <div class="d-flex justify-content-between w-100 g-max-width-145 g-bg-black g-color-white g-font-size-16 g-font-weight-700 text-uppercase">
                            <span class="g-px-15 g-py-6">
                                {% if all_data.type == '1' %}
                                <i class="fa fa-heart g-mr-3"></i>
                                {% elif all_data.type == '2' %}
                                <i class="fa fa-heart-o g-mr-3"></i>
                                {% elif all_data.type == '3' %}
                                <i class="fa fa-glass g-mr-3"></i>
                                {% elif all_data.type == '4' %}
                                <i class="fa fa-handshake-o g-mr-3"></i>
                                {% elif all_data.type == '5' %}
                                <i class="fa fa-diamond g-mr-3"></i>
                                {% endif %}
                            </span>
                            <span class="g-bg-primary g-font-weight-700 g-px-15 g-py-6 text-uppercase">
                                {{ all_data.displayType }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 order-md-1">
                <div>
                    <h1 class="g-color-dark g-font-weight-300 g-font-size-45 g-line-height-1 mb-4">{{ all_data.name }}</h1>
                    <h2 class="g-font-weight-300 g-font-size-30 mb-0">{{ all_data.start_date_time|date:'Y/m/d' }} {{ all_data.start_date_time|time }}</h2>
                    <h3 class="g-color-primary g-font-weight-400 g-font-size-30 mb-0">{{ all_data.locationName }}</h3>
                    <p class="lead">{{ all_data.description | linebreaks }}</p>
                </div>

                <!-- Event Info -->
                <div class="card card-inverse g-bg-secondary g-brd-secondary rounded-0">
                    <h3 class="card-header h5">
                        <i class="fa fa-tasks g-font-size-default g-mr-5"></i>
                        Event Info
                    </h3>

                    <div class="card-block g-pa-15">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="mb-0 g-font-size-16">
                                    <i class="icon-people"></i> Number of people you meet
                                </p>
                            </div>
                            <div class="col-md-6">
                                <span class="u-label g-rounded-3 g-bg-primary g-mr-10 g-mb-15">
                                    {{ all_data.displayNumDates|floatformat:"0" }}
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="mb-0 g-font-size-16">
                                    <i class="icon-clock"></i> Total duration
                                </p>
                            </div>
                            <div class="col-md-6">
                                <span class="u-label g-rounded-3 g-bg-primary g-mr-10 g-mb-15">
                                    {{ all_data.displayDuration }} minutes
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="mb-0 g-font-size-16">
                                    <i class="icon-bubble"></i> Duration of each date
                                </p>
                            </div>
                            <div class="col-md-6">
                                <span class="u-label g-rounded-3 g-bg-primary g-mr-10 g-mb-15">5 minutes</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="mb-0 g-font-size-16">
                                    <i class="icon-cup"></i> Duration of a break
                                </p>
                            </div>
                            <div class="col-md-6">
                                <span class="u-label g-rounded-3 g-bg-primary g-mr-10 g-mb-15">1 minute</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="join_event">
            <div class="col-md-12">
                <!-- Countdown -->
                <div class="text-uppercase g-bg-gray-dark-v1 g-color-white text-center g-py-30 g-my-30">
                    <h5 class="g-font-size-42">Starting in</h5>
                    <div class="js-countdown u-countdown-v3 g-line-height-1_2 g-font-weight-300 g-color-white"
                         data-end-date="{{ all_data.date|date:'Y/m/d' }} {{ all_data.time }}:00"
                         data-month-format="%m" data-days-format="%D" data-hours-format="%H"
                         data-minutes-format="%M" data-seconds-format="%S">
                        <div class="d-inline-block text-center g-mx-15 mb-3">
                            <div class="js-cd-days g-color-lightred g-font-weight-500 g-font-size-36">00</div>
                            <span class="g-color-gray-dark-v4 g-font-size-24">Days</span>
                        </div>

                        <div class="hidden-down d-inline-block align-top g-font-size-36">:</div>

                        <div class="d-inline-block text-center g-mx-15 mb-3">
                            <div class="js-cd-hours g-font-weight-500 g-font-size-36">00</div>
                            <span class="g-color-gray-dark-v4 g-font-size-24">Hours</span>
                        </div>

                        <div class="hidden-down d-inline-block align-top g-font-size-36">:</div>

                        <div class="d-inline-block text-center g-mx-15 mb-3">
                            <div class="js-cd-minutes g-font-weight-500 g-font-size-36">00</div>
                            <span class="g-color-gray-dark-v4 g-font-size-24">Minutes</span>
                        </div>

                        <div class="hidden-down d-inline-block align-top g-font-size-36">:</div>

                        <div class="d-inline-block text-center g-mx-15 mb-3">
                            <div class="js-cd-seconds g-font-weight-500 g-font-size-36">00</div>
                            <span class="g-color-gray-dark-v4 g-font-size-24">Seconds</span>
                        </div>
                    </div>
                </div>
                <!-- Countdown End -->
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 {% if all_data.numGroups == 1 %}g-offset-md-3{% endif %}">
                <!-- Group(s) Info -->
                <div class="g-brd-around g-brd-gray-light-v4 g-line-height-1_8 g-rounded-3 g-pa-20 g-mb-30">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <div class="js-pie g-font-weight-600 g-flex-centered"
                                 data-circles-value="0"
                                 data-circles-max-value="100"
                                 data-circles-bg-color="#222"
                                 data-circles-fg-color="#e74c3c"
                                 data-circles-radius="80"
                                 data-circles-stroke-width="2"
                                 data-circles-duration="2000"
                                 data-circles-scroll-animate="true"
                                 data-circles-additional-text="%"
                                 data-circles-font-size="20">
                            </div>
                            <h3>
                                0 / {{ all_data.displayNumParticipantsPerGroup|floatformat:"0" }} participants
                            </h3>
                        </div>
                        <div class="col-md-6">
                            <h1 class="g-color-primary g-font-weight-600">
                                {{ all_data.displaySexualIdentity1 }}
                            </h1>
                            <h2>
                                Ages: <span class="u-label u-label--lg g-rounded-3 g-bg-primary g-mr-10 g-mb-15">{{ all_data.ageMin1 }} &mdash; {{ all_data.ageMax1 }}</span>
                            </h2>
                        </div>
                    </div>

                    <hr/>

                    <h3 class="g-font-weight-600">
                        Participants will be listed here
                    </h3>
                </div>
            </div>

            <div class="col-md-6">
                <!-- Group(s) Info -->
                {% if all_data.displaySexualIdentity2 %}
                <div class="g-brd-around g-brd-gray-light-v4 g-line-height-1_8 g-rounded-3 g-pa-20 g-mb-30">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="js-pie g-font-weight-600 g-flex-centered"
                                 data-circles-value="0"
                                 data-circles-max-value="100"
                                 data-circles-bg-color="#222"
                                 data-circles-fg-color="#e74c3c"
                                 data-circles-radius="80"
                                 data-circles-stroke-width="2"
                                 data-circles-duration="2000"
                                 data-circles-scroll-animate="true"
                                 data-circles-additional-text="%"
                                 data-circles-font-size="20">
                            </div>
                            <h3>
                                0 / {{ all_data.displayNumParticipantsPerGroup|floatformat:"0" }} participants
                            </h3>
                        </div>
                        <div class="col-md-6">
                            <h1 class="g-color-primary g-font-weight-600">
                                {{ all_data.displaySexualIdentity2 }}
                            </h1>
                            <h2>
                                Ages: <span class="u-label u-label--lg g-rounded-3 g-bg-primary g-mr-10 g-mb-15">{{ all_data.ageMin2 }} &mdash; {{ all_data.ageMax2 }}</span>
                            </h2>
                        </div>
                    </div>

                    <hr/>

                    <h3 class="g-font-weight-600">
                        Participants will be listed here
                    </h3>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!-- Preview End -->

<!-- Event Block -->
<section class="g-my-100">
    <form method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        <div class="container">
            <div class="row">
                <div class="col-md-6 g-offset-md-3">
                    <button type="submit" class="btn btn-lg btn-block u-btn-primary g-mb-10 rounded-0">
                        Submit
                        <i class="icon-event g-mr-3"></i>
                    </button>
                    <button type="submit" class="btn btn-lg btn-block u-btn-bluegray g-mb-10 rounded-0"
                            name="wizard_goto_step" value="{{ wizard.steps.prev }}" formnovalidate>
                        <i class="fa fa-arrow-left g-mr-3"></i>
                        Back
                    </button>
                </div>
            </div>
        </div>
    </form>
</section>

<!-- Event Block End -->
{% endblock %}

{% block javascript %}
<!-- JS Implementing Plugins -->
<script src="{% static 'web/vendor/circles/circles.min.js'%}"></script>

<!-- JS Unify -->
<script src="{% static 'web/js/components/hs.chart-pie.js'%}"></script>

<!-- JS Plugins Init. -->
<script type="text/javascript">
$(document).on('ready', function () {
    // initialization of chart pies
    let items = $.HSCore.components.HSChartPie.init('.js-pie')
})
</script>
{% endblock %}
