{% extends 'web/base_nav.html' %}

{% load staticfiles %}

{% block content %}
<section class="g-height-100x g-min-height-100vh g-flex-centered g-pa-15 g-bg-gray-dark-v1 g-color-white">
    <div class="text-center g-flex-centered-item g-position-rel">
        <div class="g-font-size-180 g-font-size-240--sm g-font-size-420--lg g-line-height-1 g-font-weight-600 g-color-gray-dark-v2">404</div>
        <div class="g-absolute-centered">
            <h1 class="g-font-weight-200 g-mb-20 g-mt-100">Page&nbsp;Not&nbsp;Found</h1>
            <p class="g-color-white-opacity-0_6 g-font-size-18">
                Do you ever wonder what would happen if you traveled to the edge of the universe?<br>
                Would you see into the next: a never ending array of cosmos.<br>
                Would you see a blank expanse: an abyss devoid of existence?<br>
                Or perhaps, just perhaps, you would see a 404 page like this one.</p>
            <p class="g-color-white-opacity-0_6 g-font-size-18 mb-0">Either way you should return to civilization by joining an event!</p>
            <p class="g-color-white-opacity-0_6 g-font-size-18 mb-0"><a href="{% url 'web:search' %}" class="g-color-white g-color-primary--hover g-text-no-underline--hover">Search Events</a></p>
        </div>
    </div>
</section>
{% endblock %}
