.owl-background-repeat {
    background: url(../images/background-owls.jpg) repeat;
}

.btn.disabled, .btn:disabled {
    opacity: .5;
    cursor: not-allowed;
}

.bg-color-medium-grey {
    background-color: #404041 !important;
}

.u-has-error-v1 .u-input-group-v2 label {
    background-color: #fff0f0;
}

.custom-radio {
    cursor: pointer;
    background-color: #fff;
}

.custom-radio:hover {
    background-color: #e74c3c;
    color: #fff;
}

.custom-radio-active {
    background-color: #e74c3c;
    color: #fff;
}

.tag {
    display: inline-block;
    max-width: 100%;
}

.tag > span {
    max-width: 94%;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.tag a {
    display: inline-block;
    color: #bbb;
    cursor: pointer;
    opacity: 0.6;
    margin: 0 0 0 0.3em;
}

.tag a:hover {
    opacity: 1.0;
}

.tag a > i {
    color: #fff;
    margin-bottom: 2px;
}

.tag .remove {
    vertical-align: bottom;
    top: 0;
}

.u-datepicker-v1 .ui-datepicker-calendar th a:hover, .u-datepicker-v1 .ui-datepicker-calendar th a.ui-state-active,
.u-datepicker-v1 .ui-datepicker-calendar td a:hover,
.u-datepicker-v1 .ui-datepicker-calendar td a.ui-state-active {
  color: #fff;
  background-color: #e74c3c;
  border-color: #e74c3c;
  transition: all .2s; }

/*------------------------------------
  Go To
------------------------------------*/
.u-go-to-v2:hover,
.u-go-to-v2:focus:hover {
  background-color: #e74c3c;
}


/* Stripe element */

.StripeElement {
  background-color: white;
  padding: 10px 12px;
  border-radius: 0px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

/*------------------------------------
  Offsets
------------------------------------*/
@media (min-width: 768px) {
  .g-offset-md-3 {
    margin-left: 25%; } }

@media (min-width: 992px) {
  .g-offset-lg-3 {
    margin-left: 25%; } }

.u-slider-v1-2.ui-slider .ui-slider-handle, .u-slider-v1-3.ui-slider .ui-slider-handle {
  border-color: #e74c3c;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

/* Comfortaa font */
.bokaru-font {
  font-family: 'Comfortaa', cursive;
}

/* Brand */
.navbar-logo {
  padding: 0;
}

.navbar-logo img {
  max-height: 50px;
  margin-right: 10px;
}

.navbar-logo > .brand-text {
  font-family: 'Comfortaa', cursive;
  color: inherit !important;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -3px;
  color: black;
  vertical-align: middle;
}

.navbar .u-main-nav-v5 .nav-link {
  color: #fff;
}

.navbar.hs-mobile-state .hamburger-inner,
.navbar.hs-mobile-state .hamburger-inner:before,
.navbar.hs-mobile-state .hamburger-inner:after {
  /*background-color: #fff;*/
}

#navBar.hs-mobile-state {
  background-color: #3b3b3b;
  padding: 0 5px 5px 5px;
}

.js-header-change-moment #navBar.hs-mobile-state {
  background-color: #fff;
}

.js-header-change-moment .navbar .u-main-nav-v5 .nav-link {
  color: #333;
}

a.btn-header {
  color: #fff;
  border: 1px solid #fff;
  padding: 8px 10px;
  margin-top: -3px;
  transition-property: color,background-color,border-color;
  transition-duration: .2s;
  transition-timing-function: ease-in;
  font-weight: 600;
}

a.btn-header:hover {
  border: 1px solid #e74c3c;
  background: #e74c3c;
}

.js-header-change-moment a.btn-header {
  border: 1px solid #e74c3c;
  background: #e74c3c;
  color: #fff;
  padding: 8px 10px;
  margin-top: -3px;
  font-weight: 600;
}

.hs-sub-menu .nav-link {
  color: #333 !important;
}

.dropdown-item.active>a, .dropdown-item:active>a {
  color: #333 !important;
}

/* Event tag */
.event {
  border: solid 1px #eee !important;
}

.event:hover {
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.05)
}

.promoted {
  background-color: #e74b3c11 !important;
}

/* Profile tag */
.profile {
  border: solid 1px #eee !important;
}

.profile:hover {
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.05)
}

/* Datepicker */
.datepicker-top-left,.datepicker-top-right {
    border-top-color: #e74c3c !important;
}

.datepicker-top-left:before, .datepicker-top-right:before {
    border-bottom-color: #e74c3c !important;
}

.datepicker-panel>ul>li.picked, .datepicker-panel>ul>li.picked:hover {
    color: #fff !important;
    background-color: #e74c3c !important;
}

.overlay {
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
    z-index: 50;
}

.over-overlay {
    position: relative;
    cursor: default;
    z-index: 60;
}

a.over-overlay {
    position: relative;
    cursor: pointer;
    z-index: 60;
}

.spin {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
