.search_input {
    text-align: center;
    width: 50%;
    border: none;
    border-bottom: 2px solid gray;
    font-size: 15pt;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 200
}

.distance_input {
    text-align: center;
    border: none;
    border-bottom: 2px solid gray;
    font-size: 15pt;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 200
    margin-left: 20px;
    width: 80px;
}


.search_title {
    text-align: center;
}



.count_down {
    font-size: 55pt;
    text-align: center;
}


.count_down_description {
    font-size: 12pt;
    text-align: center;
}


.white-button
{
    background-color: white;
    color: #555;
    border: 1px solid #555;
}

.red-button
{

    background-color: #c0392b;
    color: white;
    border: none;


}