/* Add here all your css styles (customizations) */

.django-form-field-text
{
    padding: 0;
}

    .django-form-field-text input
    {
        height: 32px;
        width: 100%;
        border: none;
    }


.owl-background-repeat
{
        background: url(../../images/background-owls.jpg) repeat;
}





.bg-color-medium-grey
{
    background-color: #404041 !important;
}