{% extends 'account/profile_template.html' %}


{% load staticfiles %}


{% block profile_content %}
<form method="post">
    {% csrf_token %}

    <div id="profile" class="profile-edit tab-pane fade in active">
        <h2 class="heading-md">Change Password</h2>
        <p>Enter your old password and then select a new password.</p>
        <br>
        <dl class="dl-horizontal">
            <dt><strong>Current Password </strong></dt>
            <dd>
                {{ form.fullName }}
            </dd>
            <hr>
            <dt><strong>New Password </strong></dt>
            <dd>
                [CITY]
            </dd>
            <hr>
            <dt><strong>Confirm New Password</strong></dt>
            <dd>
                {{ form.birthDate }}
            </dd>

        </dl>
        <p style="text-align: center">
            <button type="submit" class="btn-u rounded">Save Changes</button>
        </p>

    </div>


</form>


{% endblock %}


{% block javascript %}
<script>

setActiveLink($("#password_link"));

</script>
{% endblock %}