{% extends 'account/profile_template.html' %}


{% load staticfiles %}
{% load form_tag %}


{% block javascript %}


<script>
	function initMap() {
			var autocomplete = new google.maps.places.Autocomplete(document.getElementById('searchBox'));
			var geocoder = new google.maps.Geocoder();
			document.getElementById('searchBox').addEventListener('change', function() {
         		 geocodeAddress(geocoder);
        	});
        }
function geocodeAddress(geocoder) {
	var address = document.getElementById('searchBox').value;
		geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            console.log("Longitude: " + results[0].geometry.location.lng());
            console.log("Latitude: " + results[0].geometry.location.lat());
			for (component in results[0].address_components)
			{
				for (type in results[0].address_components[component].types)
				{
					if (results[0].address_components[component].types[type] == 'locality')
					{
						console.log("City: " + results[0].address_components[component].long_name);
					}
					if (results[0].address_components[component].types[type] == 'administrative_area_level_1')
					{
						console.log("State: " + results[0].address_components[component].short_name);
					}
				}
			}
          } else {
            console.log('Geocode was not successful for the following reason: ' + status);
          }
        });
}
</script>



<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLJqyRqu7Mfr0xJ1OFwFxFxmCZDxX7fxQ&callback=initMap&libraries=places"
  type="text/javascript"></script>


<script>

setActiveLink($("#details_link"));
</script>



{% endblock %}



{% block profile_content %}

<form method="post">
									{% csrf_token %}


								<div id="profile" class="profile-edit tab-pane fade in active">
									<h2 class="heading-md">Manage your profile</h2>
									<p>This is where you can control your profile settings and what is visible to other members on the site.</p>
									<br>
									<dl class="dl-horizontal">
										<dt><strong>Your Name </strong></dt>
										<dd>

											{{ form.fullName | addclass:"form-control" }}

										</dd>
										<hr>
										<dt><strong>Location </strong></dt>
										<dd>
											<input class="form-control" id="searchBox" type="text"></input>

										</dd>
										<hr>
										<dt><strong>Birth Date </strong></dt>
										<dd>
											{{ form.birthDate | addclass:"form-control" }}
										</dd>
										<hr>
										<dt><strong>Height</strong></dt>
										<dd>
											{{ form.height | addclass:"form-control" }}
										</dd>
										<hr>
										<dt><strong>Body Type </strong></dt>
										<dd>
											{{ form.bodyType | addclass:"form-control" }}
										</dd>
										<hr>
										<dt><strong>Education </strong></dt>
										<dd>
											{{ form.education | addclass:"form-control" }}
										</dd>
										<hr>
										<dt><strong>Gender </strong></dt>
										<dd>
											{{ form.gender | addclass:"form-control"}}
										</dd>
										<hr>
										<dt><strong>Profession </strong></dt>
										<dd>
											[JOB]
										</dd>
										<hr>
										<dt><strong>Relationship Type </strong></dt>
										<dd>
											{{ form.relationshipType | addclass:"form-control"}}
										</dd>
										<hr>
										<dt><strong>Orientation </strong></dt>
										<dd>
											{{ form.sexualOrientation | addclass:"form-control"}}
										</dd>
										<hr>
										<dt><strong>Identity </strong></dt>
										<dd>
											{{ form.sexualIdentity| addclass:"form-control" }}
										</dd>
										<hr>
										<dt><strong>Ethnicity </strong></dt>
										<dd>
											{{ form.ethnicity | addclass:"form-control"}}
										</dd>
										<hr>
										<dt><strong>Religion </strong></dt>
										<dd>
											{{ form.religion | addclass:"form-control"}}
										</dd>
										<hr>
										<dt><strong>Languages </strong></dt>
										<dd>
											{{ form.languages | addclass:"form-control"}}
										</dd>
										<hr>
										<dt><strong>Kids </strong></dt>
										<dd>
											{{ form.kids | addclass:"form-control"}}
										</dd>
										<hr>
										<dt><strong>Vices </strong></dt>
										<dd>
											{{ form.vices | addclass:"form-control" }}
										</dd>
										<hr>
										<dt><strong>Diet </strong></dt>
										<dd>
											{{ form.diet | addclass:"form-control"}}
										</dd>
										<hr>
										<dt><strong>Match Contact Info </strong></dt>
										<dd>
											{{ form.contactInfo | addclass:"form-control"}}
										</dd>
										<hr>
										<dt><strong>Summary </strong></dt>
										<dd>
											{{ form.summary | addclass:"form-control"}}
										</dd>
										<hr>
									</dl>
									<p style="text-align: center">
										<button id="submitButton" type="submit" class="btn-u rounded">Save Changes</button>
									</p>

								</div>




								</form>

{% endblock %}

