{% extends 'account/base_preferences.html' %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Bokaru | Preferences {% endblock %}

{% block sub_nav_location %}sub-nav-preferences{% endblock %}

{% block profile_content %}
<form method="post">
    {% csrf_token %}
    <!-- errors -->
    {% if form.non_field_errors %}
    <div class="alert fade show g-bg-red-opacity-0_1 g-color-lightred rounded-0" role="alert">
        <div class="media">
            <div class="d-flex g-mr-10">
                <i></i>
            </div>
            <div class="media-body">
                {% for error in form.non_field_errors %}
                <strong>{{ error|escape }}</strong>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    <h2>General Preferences</h2>

    <div class="row">
        <!-- Units -->
        <div class="col-lg-6">
            <h5>Preferred units (metric or imperial)</h5>
        </div>
        <div class="col-lg-6">
            <div class="form-group g-mb-20 {% if form.units.errors %}u-has-error-v1{% endif %}">
                {% render_field form.units class="form-control rounded-0 u-form-control0 u-select-v1" %}
                {% if form.units.errors %}
                <small class="form-control-feedback">{{form.units.errors}}</small>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Newsletter -->
        <div class="col-lg-6">
            <h5>Subscribe to our newsletter</h5>
        </div>
        <div class="col-lg-6">
            <div class="form-group g-mb-10">
                <label class="form-check-inline u-check g-pl-25">
                    {% render_field form.receiveNewsletter class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" %}
                    <div class="u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                        <i class="fa" data-check-icon=""></i>
                    </div>
                    Subscribed
                </label>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-lg btn-block u-btn-primary g-mb-10 rounded-0">Save changes</button>
    <a href="{% url 'account:view' %}" class="btn btn-lg btn-block u-btn-bluegray g-mb-10 rounded-0">Cancel</a>
</form>
{% endblock %}
