{% extends 'web/auth_base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1>Hello</h1>
            <p>This is your personal account</p>
            <p>Username: {{user.username}}</p>
            <p>Email: {{user.email}}</p>
            <p>Active: {{user.is_active}}</p>
            <br />
            <p>Full name: {{account.fullName}}</p>
            <p>Status: {{account.status}}</p>
        </div>
    </div>
</div>
{% endblock %}
