{% extends 'web/base.html' %}
{% load staticfiles %}

{% block main %}
<!-- Header -->
<header id="js-header" class="u-header u-header--sticky-top u-header--change-logo u-header--change-appearance" data-header-fix-moment="100">
    <div class="u-header__section u-header__section--light g-bg-white-opacity-0_7 g-transition-0_3 g-py-10"
         data-header-fix-moment-exclude="u-header__section--light g-bg-white-opacity-0_7 g-py-10"
         data-header-fix-moment-classes="u-header__section--light g-bg-white u-shadow-v18 g-py-0">
        <!--<div class="u-header__section u-header__section&#45;&#45;light g-bg-white u-shadow-v18">-->
        <nav class="js-mega-menu navbar navbar-expand-lg">
            <!-- Responsive Toggle Button -->
            <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0"
                    type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar"
                    data-toggle="collapse" data-target="#navBar">
                    <span class="hamburger hamburger--slider">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </span>
            </button>
            <!-- End Responsive Toggle Button -->
            <!-- Logo -->
            <a href="{% url 'web:index' %}" class="navbar-brand navbar-logo">
                <img src="{% static 'web/images/outline-owl.jpg' %}" alt="Logo">
                <span class="brand-text">bokaru</span>
            </a>
            <!-- End Logo -->

            <!-- Navigation -->
            <div class="js-mega-menu collapse navbar-collapse align-items-center flex-sm-row" id="navBar">
                <ul class="navbar-nav text-uppercase g-font-weight-600 ml-auto u-main-nav-v5">
                    <li id="nav_home" class="nav-item g-mx-20--lg g-mb-5 g-mb-0--lg">
                        <a href="{% url 'web:index' %}" class="nav-link">Home</a>
                    </li>
                    <li id="nav_search" class="nav-item g-mx-20--lg">
                        <a href="{% url 'web:search' %}" class="nav-link">Find Events</a>
                    </li>

                    <!-- User links -->
                    {% if request.user.is_authenticated %}
                    <li id="nav_create_event" class="nav-item g-mx-20--lg">
                        <a href="{% url 'event:create' %}" class="nav-link">Create Event</a>
                    </li>
                    <li id="nav_events" class="nav-item g-mx-20--lg">
                        <a href="{% url 'web:my_events' %}" class="nav-link">My Events</a>
                    </li>
                    <li id="nav_matches" class="nav-item g-mx-20--lg">
                        <a href="{% url 'web:my_matches' %}" class="nav-link">My Matches</a>
                    </li>
                    <!-- Account submenu -->
                    <li class="nav-item hs-has-sub-menu g-mx-20--lg" data-event="click">
                        <a href="#" class="nav-link dropdown-toggle g-py-0 g-brd-none" id="account-dropdown-invoker"
                           aria-haspopup="true" aria-expanded="false" aria-controls="account-dropdown">
                            {% if request.session.thumbnail_url is None or request.session.thumbnail_url == '' %}
                            <img class="img-fluid rounded-circle" src="{% static 'web/images/user_default_image.jpg' %}"
                                 width="30px" height="30px" alt="Default picture" id="default_avatar"/>
                            {% else %}
                            <img class="img-fluid rounded-circle" src="{{ request.session.thumbnail_url }}" alt="Profile picture"/>
                            {% endif %}
                            <!-- username -->
                            <span class="g-hidden-md-up">{{user.username}}</span>

                        </a>
                        <ul id="account-dropdown"
                            class="hs-sub-menu list-unstyled g-text-transform-none g-min-width-200 g-mt-15 g-mt-10--lg--scrolling u-shadow-v1-5 g-brd-top g-brd-primary g-brd-top-2"
                            aria-labelledby="account-dropdown-invoker">
                            <li id="nav_profile" class="dropdown-item">
                                <a class="nav-link g-px-0"
                                   href="{% url 'account:view' %}">View Profile</a>
                            </li>
                            <li id="nav_account" class="dropdown-item">
                                <a class="nav-link g-px-0"
                                   href="{% url 'account:preferences' %}">Edit Account</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="nav-link g-px-0"
                                   href="{% url 'auth_logout' %}">Logout</a>
                            </li>
                        </ul>
                        <!-- End Profile links -->
                    </li>

                    <!-- Guest links -->
                    {% else %}
                    <li class="nav-item g-mx-20--lg">
                        <a href="{% url 'auth_register' %}" class="nav-link">Register</a>
                    </li>

                    <li class="nav-item g-mx-20--lg">
                        <a href="{% url 'auth_login' %}" class="nav-link">Log in</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- End Navigation -->
        </nav>
    </div>
</header>

<!-- Owl banner -->
<section class="g-py-80--md g-mb-minus-20--md g-py-50 g-mb-20 owl-background-repeat"></section>
<!-- End Owl banner -->

<!-- Message Bar -->
{% if request.current_event and not request.path == '/chat/'%}
<section class="g-bg-primary g-color-white g-pa-30 u-shadow-v1-5">
    <div class="d-md-flex justify-content-md-center text-center">
        <div class="align-self-md-center">
            <p class="lead g-font-weight-400 g-mr-20--md g-mb-15 g-mb-0--md">
                {% if request.current_event.is_starting_soon %}
                An event {{ request.current_event.name }} is starting really soon!
                {% elif request.current_event.is_ended_recently %}
                An event {{ request.current_event.name }} just ended, don't forget to take a look at the results!
                {% else %}
                An event {{ request.current_event.name }} is in progress right now!
                {% endif %}
            </p>
        </div>
        <div class="align-self-md-center">
            <a class="btn btn-md u-btn-white" href="{% url 'chat:live_event' %}">Join the event!</a>
        </div>
    </div>
</section>
{% endif %}
{% if request.session.profile_incomplete and not request.path == '/profile/edit' %}
<section class="g-bg-primary g-color-white g-pa-30 u-shadow-v1-5">
    <div class="d-md-flex justify-content-md-center text-center">
        <div class="align-self-md-center">
            <p class="lead g-font-weight-400 g-mr-20--md g-mb-15 g-mb-0--md">
                Please complete your profile, otherwise you will not able to join any events.
            </p>
        </div>
        <div class="align-self-md-center">
            <a class="btn btn-md u-btn-white" href="{% url 'account:edit' %}">Edit profile</a>
        </div>
    </div>
</section>
{% endif %}
{% if request.session.profile_suspended %}
<section class="g-bg-primary g-color-white g-pa-30 u-shadow-v1-5">
    <div class="d-md-flex justify-content-md-center text-center">
        <div class="align-self-md-center">
            <p class="lead g-font-weight-400 g-mr-20--md g-mb-15 g-mb-0--md">
                Your profile has been suspended for breaking rules.
            </p>
        </div>
        <div class="align-self-md-center">
            <a class="btn btn-md u-btn-white" href="#">Rules</a>
        </div>
    </div>
</section>
{% endif %}
{% if messages %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 g-offset-md-3">
                {% for message in messages %}
                <div class="alert alert-dismissible fade show g-color-white rounded-0 text-center
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                g-bg-red
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                g-bg-yellow
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                g-bg-gray-dark-v2
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                g-bg-green
                {% endif %}
                " role="alert">
                    <button type="button" class="close u-alert-close--light" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>

                    <div class="media">
                        <span class="d-flex g-mr-10 g-mt-5">
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            <i class="icon-ban g-font-size-25"></i>
                            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                            <i class="icon-exclamation g-font-size-25"></i>
                            {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                            <i class="icon-info g-font-size-25"></i>
                            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            <i class="icon-check g-font-size-25"></i>
                            {% endif %}
                        </span>
                        <span class="media-body align-self-center">
                        {{ message }}
                        </span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}
<!-- Message Bar End -->

<main>
    {% block content %}
    {% endblock %}
</main>

<!-- Footer -->
<footer class="g-bg-black-opacity-0_3 owl-background-repeat g-color-white-opacity-0_6 g-py-60">
    <div class="container">
        <div class="row">
            <!-- Footer Content -->
            <div class="col-lg-4 g-mb-40 g-mb-0--lg">
                <a class="d-block g-mb-20" href="/">
                    <img class="img-fluid g-opacity-0_6 g-mb-5" src="{% static 'web/images/bokaru-logo.png' %}"
                         alt="Logo">
                </a>

                <div class="g-mb-20">
                    <p>About Bokaru dolor sit amet, consec tetur adipiscing elit. Maecenas eget nisl id libero
                        tincidunt.</p>
                    <small class="g-font-size-default mb-0">&copy; 2017 All right reserved. Bokaru Inc.
                    </small>
                </div>

                <ul class="list-inline mb-0">
                    <li class="list-inline-item g-mr-10">
                        <a class="u-icon-v3 u-icon-size--xs g-color-white g-color-primary--hover g-bg-white-opacity-0_1 g-bg-white--hover"
                           href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item g-mr-10">
                        <a class="u-icon-v3 u-icon-size--xs g-color-white g-color-primary--hover g-bg-white-opacity-0_1 g-bg-white--hover"
                           href="#">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item g-mr-10">
                        <a class="u-icon-v3 u-icon-size--xs g-color-white g-color-primary--hover g-bg-white-opacity-0_1 g-bg-white--hover"
                           href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item g-mr-10">
                        <a class="u-icon-v3 u-icon-size--xs g-color-white g-color-primary--hover g-bg-white-opacity-0_1 g-bg-white--hover"
                           href="#">
                            <i class="fa fa-dribbble"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- End Footer Content -->

            <!-- Footer Content -->
            <div class="col-lg-2 g-mb-30 g-mb-0--lg">
                <h2 class="h6 g-color-white text-uppercase g-font-weight-700 g-mb-20">Search events</h2>
                <ul class="list-unstyled mb-0">
                    <li class="d-flex align-items-baseline g-mb-12">
                        <i class="fa fa-angle-double-right g-mr-8"></i>
                        <a class="g-color-white-opacity-0_6 g-color-white--hover" href="{% url 'web:search_by_place' place_name='toronto' %}">Toronto</a>
                    </li>
                    <li class="d-flex align-items-baseline g-mb-12">
                        <i class="fa fa-angle-double-right g-mr-8"></i>
                        <a class="g-color-white-opacity-0_6 g-color-white--hover" href="{% url 'web:search_by_place' place_name='ottawa' %}">Ottawa</a>
                    </li>
                    <li class="d-flex align-items-baseline g-mb-12">
                        <i class="fa fa-angle-double-right g-mr-8"></i>
                        <a class="g-color-white-opacity-0_6 g-color-white--hover" href="{% url 'web:search_by_place' place_name='montreal' %}">Montréal</a>
                    </li>
                    <li class="d-flex align-items-baseline g-mb-12">
                        <i class="fa fa-angle-double-right g-mr-8"></i>
                        <a class="g-color-white-opacity-0_6 g-color-white--hover" href="{% url 'web:search_by_place' place_name='new_york' %}">New York</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-2 g-mb-30 g-mb-0--lg">
                <h2 class="h6 g-color-white text-uppercase g-font-weight-700 g-mb-20">Useful links</h2>
                <ul class="list-unstyled mb-0">
                    <li class="d-flex align-items-baseline g-mb-12">
                        <i class="fa fa-angle-double-right g-mr-8"></i>
                        <a class="g-color-white-opacity-0_6 g-color-white--hover" href="{% url 'web:search_by_place' place_name='toronto' %}">About Us</a>
                    </li>
                    <li class="d-flex align-items-baseline g-mb-12">
                        <i class="fa fa-angle-double-right g-mr-8"></i>
                        <a class="g-color-white-opacity-0_6 g-color-white--hover" href="{% url 'web:terms_of_use' %}">Terms of Use</a>
                    </li>
                    <li class="d-flex align-items-baseline g-mb-12">
                        <i class="fa fa-angle-double-right g-mr-8"></i>
                        <a class="g-color-white-opacity-0_6 g-color-white--hover" href="{% url 'web:privacy_policy' %}">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <!-- End Footer Content -->
        </div>
    </div>
</footer>
<!-- End Footer -->

<!-- Go To -->
<a class="js-go-to u-go-to-v2" href="#" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
    <i class="fa fa-chevron-up"></i>
</a>
<!-- End Go To -->

<!-- Navigation script -->
<script type="text/javascript">
    let navLocation = '{% block nav_location %}{% endblock %}'
    let e = document.getElementById(navLocation)
    if (!!e)
        e.className += ' active'

</script>
{% endblock %}
