<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">

<head>
    <!-- Title -->
    <title>{% block title %}Bokaru{% endblock %}</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{% static 'web/vendor/bootstrap/bootstrap.min.css' %}">

    <!-- CSS Global Icons -->
    <link rel="stylesheet" href="{% static 'web/vendor/icon-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/vendor/icon-line/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'web/vendor/hamburgers/hamburgers.min.css' %}">
    <!--<link rel="stylesheet" href="{% static 'web/vendor/icon-etlinefont/style.css' %}">-->
    <!--<link rel="stylesheet" href="{% static 'web/vendor/icon-line-pro/style.css' %}">-->
    <!--<link rel="stylesheet" href="{% static 'web/vendor/icon-hs/style.css' %}">-->
    <!--<link rel="stylesheet" href="{% static 'web/vendor/slick-carousel/slick/slick.css' %}">-->
    <!--<link rel="stylesheet" href="{% static 'web/vendor/hs-megamenu/src/hs.megamenu.css' %}">-->
    <!--<link rel="stylesheet" href="{% static 'web/vendor/animate.css' %}">-->

    <!-- CSS Unify -->
    <link rel="stylesheet" href="{% static 'web/css/unify-core.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/unify-components.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/unify-globals.css' %}">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="{% static 'web/css/custom.css' %}">

    {% block header %}
    {% endblock %}
</head>

<body>
<main>
    {% block main %}
    {% endblock %}
</main>

<!-- Footer -->
<footer class="g-bg-black-opacity-0_9 g-color-white-opacity-0_6 g-py-60">
    <div class="container">
        <div class="row">
            <!-- Footer Content -->
            <div class="col-lg-4 g-mb-40 g-mb-0--lg">
                <a class="d-block g-mb-20" href="/">
                    <img class="img-fluid g-opacity-0_6 g-mb-5" src="{% static 'web/images/bokaru-logo.png' %}"
                         alt="Logo">
                </a>

                <div class="g-mb-20">
                    <p>About Bokaru dolor sit amet, consec tetur adipiscing elit. Maecenas eget nisl id libero
                        tincidunt.</p>
                    <small class="g-font-size-default mb-0">&copy; 2017 All right reserved. Bokaru Inc.
                    </small>
                </div>

                <ul class="list-inline mb-0">
                    <li class="list-inline-item g-mr-10">
                        <a class="u-icon-v3 u-icon-size--xs g-color-white g-color-primary--hover g-bg-white-opacity-0_1 g-bg-white--hover"
                           href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item g-mr-10">
                        <a class="u-icon-v3 u-icon-size--xs g-color-white g-color-primary--hover g-bg-white-opacity-0_1 g-bg-white--hover"
                           href="#">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item g-mr-10">
                        <a class="u-icon-v3 u-icon-size--xs g-color-white g-color-primary--hover g-bg-white-opacity-0_1 g-bg-white--hover"
                           href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item g-mr-10">
                        <a class="u-icon-v3 u-icon-size--xs g-color-white g-color-primary--hover g-bg-white-opacity-0_1 g-bg-white--hover"
                           href="#">
                            <i class="fa fa-dribbble"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- End Footer Content -->

            <!-- Footer Content -->
            <div class="col-lg-6 g-mb-40 g-mb-0--lg">
                <h2 class="h6 g-color-white text-uppercase g-font-weight-700 g-mb-20">Latest Events</h2>
                <article class="media">
                    <a class="d-flex g-mt-4 mr-3" href="#">
                        <img class="g-width-80 g-height-80" src="../../../assets/img-temp/100x100/img8.jpg"
                             alt="Image Description">
                    </a>

                    <div class="media-body align-self-center">
                        <ul class="list-inline g-font-size-12 g-mb-10">
                            <li class="list-inline-item">June 09, 2017</li>
                            <li class="list-inline-item">/</li>
                            <li class="list-inline-item">
                                <a class="u-link-v5 g-color-white-opacity-0_8 g-color-white--hover" href="#">
                                    <i class="fa fa-comments-o"></i>
                                    12
                                </a>
                            </li>
                        </ul>

                        <h3 class="h6 mb-0">
                            <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Top 7 luxury places to
                                visit around Victoria, BC</a>
                        </h3>
                    </div>
                </article>

                <hr class="g-brd-white-opacity-0_1 g-mt-15 g-mb-10">

                <article class="media">
                    <a class="d-flex g-mt-4 mr-3" href="#">
                        <img class="g-width-80 g-height-80" src="../../../assets/img-temp/100x100/img9.jpg"
                             alt="Image Description">
                    </a>

                    <div class="media-body align-self-center">
                        <ul class="list-inline g-font-size-12 g-mb-10">
                            <li class="list-inline-item">July 30, 2017</li>
                            <li class="list-inline-item">/</li>
                            <li class="list-inline-item">
                                <a class="u-link-v5 g-color-white-opacity-0_8 g-color-white--hover" href="#">
                                    <i class="fa fa-comments-o"></i>
                                    18
                                </a>
                            </li>
                        </ul>

                        <h3 class="h6 mb-0">
                            <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Coding week, 10 best
                                premium templates</a>
                        </h3>
                    </div>
                </article>
            </div>
            <!-- End Footer Content -->

            <!-- Footer Content -->
            <div class="col-lg-2 g-mb-30 g-mb-0--lg">
                <h2 class="h6 g-color-white text-uppercase g-font-weight-700 g-mb-20">Useful Links</h2>
                <ul class="list-unstyled mb-0">
                    <li class="d-flex align-items-baseline g-mb-12">
                        <i class="fa fa-angle-double-right g-mr-8"></i>
                        <a class="g-color-white-opacity-0_6 g-color-white--hover" href="#">Blog</a>
                    </li>
                    <li class="d-flex align-items-baseline g-mb-12">
                        <i class="fa fa-angle-double-right g-mr-8"></i>
                        <a class="g-color-white-opacity-0_6 g-color-white--hover" href="#">Support</a>
                    </li>
                    <li class="d-flex align-items-baseline g-mb-12">
                        <i class="fa fa-angle-double-right g-mr-8"></i>
                        <a class="g-color-white-opacity-0_6 g-color-white--hover" href="#">Community</a>
                    </li>
                    <li class="d-flex align-items-baseline g-mb-12">
                        <i class="fa fa-angle-double-right g-mr-8"></i>
                        <a class="g-color-white-opacity-0_6 g-color-white--hover" href="#">Pricing/Plans</a>
                    </li>
                    <li class="d-flex align-items-baseline g-mb-12">
                        <i class="fa fa-angle-double-right g-mr-8"></i>
                        <a class="g-color-white-opacity-0_6 g-color-white--hover" href="#">UI Freebies</a>
                    </li>
                    <li class="d-flex align-items-baseline">
                        <i class="fa fa-angle-double-right g-mr-8"></i>
                        <a class="g-color-white-opacity-0_6 g-color-white--hover" href="#">Careers</a>
                    </li>
                </ul>
            </div>
            <!-- End Footer Content -->
        </div>
    </div>
</footer>
<!-- End Footer -->

<!-- JS Global Compulsory -->
<script src="{% static 'web/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'web/vendor/jquery-migrate/jquery-migrate.min.js' %}"></script>
<script src="{% static 'web/vendor/jquery.easing/js/jquery.easing.js' %}"></script>
<script src="{% static 'web/vendor/popper.min.js' %}"></script>
<script src="{% static 'web/vendor/bootstrap/bootstrap.min.js' %}"></script>

<!-- JS Unify -->
<script src="{% static 'web/js/hs.core.js' %}"></script>

<script src="{% static 'web/js/components/hs.header.js' %}"></script>
<script src="{% static 'web/js/helpers/hs.hamburgers.js' %}"></script>
<script src="{% static 'web/js/helpers/hs.focus-state.js' %}"></script>
<script src="{% static 'web//js/helpers/hs.height-calc.js' %}"></script>

<!-- jQuery UI Helpers -->
<!--<script src="{% static 'web/vendor/jquery-ui/ui/widgets/menu.js' %}"></script>-->
<!--<script src="{% static 'web/vendor/jquery-ui/ui/widgets/mouse.js' %}"></script>-->
<!-- End jQuery UI Helpers -->

<!-- JS Custom -->
<script src="{% static 'web/js/custom.js' %}"></script>

<!-- JS Plugins Init. -->
<script>
$(document).on('ready', function () {
    // initialization of forms
    $.HSCore.helpers.HSFocusState.init();
});

$(window).on('load', function () {
    // initialization of header
    $.HSCore.components.HSHeader.init($('#js-header'));
    $.HSCore.helpers.HSHamburgers.init('.hamburger');
});
</script>

{% block javascript %}
{% endblock %}


</body>
</html>
