<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">

<head>
    <!-- Title -->
    <title>{% block title %}Bokaru{% endblock %}</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700">

    <!-- CSS Compulsory -->
    <link rel="stylesheet" href="{% static 'web/vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/vendor/bootstrap/offcanvas.css' %}">

    <!-- CSS Icons -->
    <link rel="stylesheet" href="{% static 'web/vendor/icon-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/vendor/icon-line/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'web/vendor/hamburgers/hamburgers.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/vendor/icon-hs/style.css' %}">

    <!-- CSS Plugins -->
    <link rel="stylesheet" href="{% static 'web/vendor/animate.css' %}">
    <link rel="stylesheet" href="{% static 'web/vendor/dzsparallaxer/dzsparallaxer.css' %}">
    <link rel="stylesheet" href="{% static 'web/vendor/dzsparallaxer/dzsscroller/scroller.css' %}">
    <link rel="stylesheet" href="{% static 'web/vendor/dzsparallaxer/advancedscroller/plugin.css' %}">
    <link rel="stylesheet" href="{% static 'web/vendor/hs-megamenu/src/hs.megamenu.css' %}">
    <link rel="stylesheet" href="{% static 'web/vendor/hs-megamenu/src/hs.megamenu.css' %}">
    <link rel="stylesheet" href="{% static 'web/vendor/cropper/cropper.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/vendor/jquery-ui/themes/base/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/vendor/custombox/custombox.min.css' %}">

    <!-- CSS Unify -->
    <link rel="stylesheet" href="{% static 'web/css/unify-core.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/unify-components.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/unify-globals.css' %}">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="{% static 'web/css/custom.css' %}">

    {% block header %}
    {% endblock %}
</head>

<body>
<main>
    {% block main %}
    {% endblock %}
</main>

<!-- Footer -->
<footer class="g-bg-black-opacity-0_3 owl-background-repeat g-color-white-opacity-0_6 g-py-60">
    <div class="container">
        <div class="row">
            <!-- Footer Content -->
            <div class="col-lg-4 g-mb-40 g-mb-0--lg">
                <a class="d-block g-mb-20" href="/">
                    <img class="img-fluid g-opacity-0_6 g-mb-5" src="{% static 'web/images/bokaru-logo.png' %}"
                         alt="Logo">
                </a>

                <div class="g-mb-20">
                    <p>About Bokaru dolor sit amet, consec tetur adipiscing elit. Maecenas eget nisl id libero
                        tincidunt.</p>
                    <small class="g-font-size-default mb-0">&copy; 2017 All right reserved. Bokaru Inc.
                    </small>
                </div>

                <ul class="list-inline mb-0">
                    <li class="list-inline-item g-mr-10">
                        <a class="u-icon-v3 u-icon-size--xs g-color-white g-color-primary--hover g-bg-white-opacity-0_1 g-bg-white--hover"
                           href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item g-mr-10">
                        <a class="u-icon-v3 u-icon-size--xs g-color-white g-color-primary--hover g-bg-white-opacity-0_1 g-bg-white--hover"
                           href="#">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item g-mr-10">
                        <a class="u-icon-v3 u-icon-size--xs g-color-white g-color-primary--hover g-bg-white-opacity-0_1 g-bg-white--hover"
                           href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item g-mr-10">
                        <a class="u-icon-v3 u-icon-size--xs g-color-white g-color-primary--hover g-bg-white-opacity-0_1 g-bg-white--hover"
                           href="#">
                            <i class="fa fa-dribbble"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- End Footer Content -->

            <!-- Footer Content -->
            <div class="col-lg-2 g-mb-30 g-mb-0--lg">
                <h2 class="h6 g-color-white text-uppercase g-font-weight-700 g-mb-20">Useful Links</h2>
                <ul class="list-unstyled mb-0">
                    <li class="d-flex align-items-baseline g-mb-12">
                        <i class="fa fa-angle-double-right g-mr-8"></i>
                        <a class="g-color-white-opacity-0_6 g-color-white--hover" href="#">Blog</a>
                    </li>
                    <li class="d-flex align-items-baseline g-mb-12">
                        <i class="fa fa-angle-double-right g-mr-8"></i>
                        <a class="g-color-white-opacity-0_6 g-color-white--hover" href="#">Support</a>
                    </li>
                    <li class="d-flex align-items-baseline g-mb-12">
                        <i class="fa fa-angle-double-right g-mr-8"></i>
                        <a class="g-color-white-opacity-0_6 g-color-white--hover" href="#">Community</a>
                    </li>
                    <li class="d-flex align-items-baseline g-mb-12">
                        <i class="fa fa-angle-double-right g-mr-8"></i>
                        <a class="g-color-white-opacity-0_6 g-color-white--hover" href="#">Pricing/Plans</a>
                    </li>
                    <li class="d-flex align-items-baseline g-mb-12">
                        <i class="fa fa-angle-double-right g-mr-8"></i>
                        <a class="g-color-white-opacity-0_6 g-color-white--hover" href="#">UI Freebies</a>
                    </li>
                    <li class="d-flex align-items-baseline">
                        <i class="fa fa-angle-double-right g-mr-8"></i>
                        <a class="g-color-white-opacity-0_6 g-color-white--hover" href="#">Careers</a>
                    </li>
                </ul>
            </div>
            <!-- End Footer Content -->
        </div>
    </div>
</footer>
<!-- End Footer -->

<!-- Go To -->
<a class="js-go-to u-go-to-v2" href="#" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
    <i class="fa fa-chevron-up"></i>
</a>
<!-- End Go To -->

<!-- JS Global Compulsory -->
<script src="{% static 'web/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'web/vendor/jquery-migrate/jquery-migrate.min.js' %}"></script>
<script src="{% static 'web/vendor/jquery.easing/js/jquery.easing.js' %}"></script>
<script src="{% static 'web/vendor/popper.min.js' %}"></script>
<script src="{% static 'web/vendor/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'web/vendor/bootstrap/offcanvas.js' %}"></script>

<!-- JS Implementing Plugins -->
<script src="{% static 'web/vendor/hs-megamenu/src/hs.megamenu.js' %}"></script>
<script src="{% static 'web/vendor/appear.js' %}"></script>
<script src="{% static 'web/vendor/dzsparallaxer/dzsparallaxer.js' %}"></script>
<script src="{% static 'web/vendor/dzsparallaxer/dzsscroller/scroller.js' %}"></script>
<script src="{% static 'web/vendor/dzsparallaxer/advancedscroller/plugin.js' %}"></script>
<script src="{% static 'web/vendor/cropper/cropper.min.js' %}"></script>
<script src="{% static 'web/vendor/custombox/custombox.min.js' %}"></script>
<script src="{% static 'web/vendor/jquery.countdown.min.js' %}"></script>

<!-- JS Unify -->
<script src="{% static 'web/js/hs.core.js' %}"></script>

<script src="{% static 'web/js/components/hs.header.js' %}"></script>
<script src="{% static 'web/js/components/hs.scrollbar.js' %}"></script>
<script src="{% static 'web/js/components/hs.popup.js' %}"></script>
<script src="{% static 'web/js/components/hs.go-to.js' %}"></script>
<script src="{% static 'web/js/components/hs.dropdown.js' %}"></script>
<script src="{% static 'web/js/components/hs.onscroll-animation.js' %}"></script>
<script src="{% static 'web/js/components/hs.counter.js' %}"></script>
<script src="{% static 'web/js/components/hs.modal-window.js' %}"></script>
<script src="{% static 'web/js/helpers/hs.not-empty-state.js' %}"></script>
<script src="{% static 'web/js/components/hs.countdown.js' %}"></script>

<!-- jQuery UI Helpers -->
<script src="{% static 'web/js/helpers/hs.hamburgers.js' %}"></script>
<script src="{% static 'web/js/helpers/hs.focus-state.js' %}"></script>
<script src="{% static 'web/js/helpers/hs.height-calc.js' %}"></script>

<!-- JS Custom -->
<script src="{% static 'web/js/custom.js' %}"></script>

<!-- Stripe -->
<script src="https://js.stripe.com/v3/"></script>

<!-- JS Plugins Init. -->
<script>
$(document).on('ready', function () {
    // initialization of go to
    $.HSCore.components.HSGoTo.init('.js-go-to');

    // initialization of forms
    $.HSCore.helpers.HSFocusState.init();
    $.HSCore.helpers.HSNotEmptyState.init();

    // initialization of HSScrollBar component
    $.HSCore.components.HSScrollBar.init($('.js-scrollbar'));

    // initialization of scroll animation
    $.HSCore.components.HSOnScrollAnimation.init('[data-animation]');

    // initialization of HSDropdown component
    $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'));

    // initialization of counters
    var counters = $.HSCore.components.HSCounter.init('[class*="js-counter"]');

    // initialization of popups
    $.HSCore.components.HSModalWindow.init('[data-modal-target]');

    // initialization of countdowns
    var countdowns = $.HSCore.components.HSCountdown.init('.js-countdown', {
        yearsElSelector: '.js-cd-years',
        monthElSelector: '.js-cd-month',
        daysElSelector: '.js-cd-days',
        hoursElSelector: '.js-cd-hours',
        minutesElSelector: '.js-cd-minutes',
        secondsElSelector: '.js-cd-seconds'
    });
});

$(window).on('load', function () {
    // initialization of header
    $.HSCore.components.HSHeader.init($('#js-header'));
    $.HSCore.helpers.HSHamburgers.init('.hamburger');
    // initialization of HSMegaMenu component
    $('.js-mega-menu').HSMegaMenu({
        event: 'hover',
        pageContainer: $('.container'),
        breakpoint: 991
    });
});
</script>

{% block javascript %}
{% endblock %}

</body>
</html>
