{% extends 'web/base_nav.html' %}

{% load staticfiles %}

{% block content %}
<section class="g-min-height-50vh">
    <div class="container g-py-50 g-py-150--md">
        <div class="row g-mb-50">
            <div class="col-lg-6">
                <div class="d-inline-block g-width-80 g-height-4 g-bg-black mb-3"></div>
                <h2 class="g-color-black g-font-weight-700 g-font-size-50 g-line-height-1 mb-4">Browser Support</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 g-mb-30">
                <div class="g-brd-around--md g-brd-gray-light-v4 text-center g-pa-10 g-px-30--lg g-py-40--lg">
                    <span class="d-block g-color-gray-dark-v4 g-font-size-40 g-mb-15">
                        <i class="icon-education-087 u-line-icon-pro"></i>
                    </span>
                    <h3 class="g-color-black g-mb-10"><b>Windows</b></h3>
                    <div class="d-inline-block g-width-40 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                    <ul class="list-unstyled g-px-30 g-mb-0">
                        <li class="g-brd-gray-light-v3 g-py-10 g-mt-20"><b>Google Chrome</b></li>
                        <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10 g-font-size-11">(latest release version)</li>
                        <li class="g-brd-gray-light-v3 g-mt-20"><b>Firefox</b></li>
                        <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10 g-font-size-11">(latest release version)</li>
                        <li class="g-brd-gray-light-v3 g-mt-20"><b>Internet Explorer 10 and 11</b></li>
                        <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10 g-font-size-11">(requires the download of a plugin)</li>
                        <li class="g-brd-gray-light-v3 g-mt-20"><b>Microsoft Edge 15+ </b></li>
                        <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10 g-font-size-11">(beta support, not recommended)</li>
                        <li class="g-brd-gray-light-v3 g-mt-20"><b>Opera</b></li>
                        <li class="g-py-10 g-font-size-11">(latest release version)</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 g-mb-30">
                <div class="g-brd-around--md g-brd-gray-light-v4 text-center g-pa-10 g-px-30--lg g-py-40--lg">
                    <span class="d-block g-color-gray-dark-v4 g-font-size-40 g-mb-15">
                        <i class="icon-finance-009 u-line-icon-pro"></i>
                    </span>
                    <h3 class="g-color-black g-mb-10"><b>Mac</b></h3>
                    <div class="d-inline-block g-width-40 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                    <ul class="list-unstyled g-px-30 g-mb-0">
                        <li class="g-brd-gray-light-v3 g-py-10 g-mt-20"><b>Google Chrome</b></li>
                        <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10 g-font-size-11">(latest release version)</li>
                        <li class="g-brd-gray-light-v3 g-mt-20"><b>Firefox</b></li>
                        <li class="g-py-10 g-font-size-11">(latest release version)</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 g-mb-30">
                <div class="g-brd-around--md g-brd-gray-light-v4 text-center g-pa-10 g-px-30--lg g-py-40--lg">
                    <span class="d-block g-color-gray-dark-v4 g-font-size-40 g-mb-15">
                        <i class="icon-finance-256 u-line-icon-pro"></i>
                    </span>
                    <h3 class="g-color-black g-mb-10"><b>Android</b></h3>
                    <div class="d-inline-block g-width-40 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                    <ul class="list-unstyled g-px-30 g-mb-0">
                        <li class="g-brd-gray-light-v3 g-py-10 g-mt-20"><b>Google Chrome</b></li>
                        <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10 g-font-size-11">(latest release version)</li>
                        <li class="g-brd-gray-light-v3 g-mt-20"><b>Firefox</b></li>
                        <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10 g-font-size-11">(latest release version)</li>
                        <li class="g-brd-gray-light-v3 g-mt-20"><b>Samsung Internet</b></li>
                        <li class="g-py-10 g-font-size-11">(beta support, not recommended)</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 g-mb-30">
                <div class="g-brd-around--md g-brd-gray-light-v4 text-center g-pa-10 g-px-30--lg g-py-40--lg">
                    <span class="d-block g-color-gray-dark-v4 g-font-size-40 g-mb-15">
                        <i class="icon-finance-256 u-line-icon-pro"></i>
                    </span>
                    <h3 class="g-color-black g-mb-10"><b>iOS</b></h3>
                    <div class="d-inline-block g-width-40 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                    <ul class="list-unstyled g-px-30 g-mb-0">
                        <li class="g-brd-gray-light-v3 g-py-10 g-mt-20"><b>Google Chrome</b></li>
                        <li class="g-py-10 g-font-size-11">(latest release version)</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <a class="btn btn-lg btn-block u-btn-primary rounded-0" href="{% url 'chat:network_test'%}">Click here to test your browser</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
