{% extends 'web/base_nav.html' %}

{% load staticfiles %}

{% block content %}
<section class="g-min-height-50vh">
    <div class="container g-py-50 g-py-150--md">
        <div class="row">
            <div class="col-lg-6">
                <div class="d-inline-block g-width-80 g-height-4 g-bg-black mb-3"></div>
                <h2 class="g-color-black g-font-weight-700 g-font-size-50 g-line-height-1 mb-4">Community Guidelines</h2>
            </div>
            <div class="col-12">
                <h2>Overview</h2>
                <p>Hope you are enjoying Bokaru so far! We strive to promote an open and transparent environment that makes everyone feel welcome. On the one hand this means you have a lot of freedom
                    here but it also means you have some responsibilities to ensure everyone can have an equally swell time.
                </p>

                <p>When you browse our site, we also automatically receive your computer's internet protocol (IP) address in order to provide us with information that helps us learn about your
                    browser and operating system. We may also track your activity across sessions in order to help understand how users are interacting with our site in order to help make it better.
                    Email marketing (if applicable): With your permission, we may send you emails about our site, services, products and other updates.</p>

                <h2>No Harassment</h2>
                <p>You are not allowed to take any action that would make another user feel harrassed. This is really about understanding your audience and getting a sense for what they may feel is
                    offensive. Everyone is different so play it safe until you know who you are talking to.
                </p>

                <h2>No Stalking</h2>
                <p>If someone says no to you then do not try to follow them to other events in the hopes that they will change their mind in a subsequent event. If we receive enough complaints about
                    this type of behaviour your account may be subject to closure with loss of credits.
                </p>

                <h2>No Hate Speech</h2>
                <p>Keep it civil everyone has their own ideas and we are not here to restrict you from sharing yours but we have to draw the line if you are promoting hatred or attempting to propose
                    that one group is better than another.
                </p>

                <h2>Creating Your Own Event</h2>
                <p>When you create an event it will be visible to everyone on the site so make sure it is not overly offensive. Naturally this site is for people 18 years of age or older so it is not
                    like children will be watching but still you need to use good reason and when in doubt play it safe. This applies to the name and description of your event as well as the image you
                    chose. </p>
                <p>In addition while you can target your event to certain demographics you have to note that people from any demographic are welcome to attend the event and you must treat everyone
                    with respect during the event even if they may not fit the demographics you expected.
                </p>
                <p>Finally if we feel the event you have created is not appropriate despite the freedoms we are affording all our users here then we reserve the right to remove it. </p>

                <h2>Payment</h2>
                <p>When you sign up for an event you must enter your credit card information. We will not charge you for the event until 24 hours prior to the event starting. If less then 80% of the
                    event is full then we will cancel the event and you will not be charged. If after 24 hours you are charged for the event but it turns out that there will not be enough participants
                    then we may choose to cancel the event and if so you will be refunded. </p>

                <h2>Uploading Photos</h2>
                <p>Ensure that the photos you upload are a true representation of yourself and are not vulgar or offensive. Once again while we do give you the freedom to upload your own pictures we
                    also want to ensure that no one is overly offended so play it safe and only upload a picture that you would feel comfortable showing to your mom, assuming your mom is a standup
                    gal.
                </p>
                <h2>Closing Account</h2>
                <p>If you do not agree with our Terms of Service, Privacy Policy, or this Code of Conduct then your only course of action will be to contact us to close your account which you can do
                    by sending an email to support@bokaru.com
                </p>
                <h2>Feedback</h2>
                <p>If you think we missed anything here please reach out to us a <a href="mailto:support@bokaru.com" target="_blank">support@bokaru.com</a></p>
                <p>Also take a look at our <a href="https://www.reddit.com/r/bokaru/" target="_blank">subbreddit</a> where we gladly receive feedback! </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
