{% extends 'web/base_nav.html' %}

{% load staticfiles %}

{% block content %}
<section class="g-min-height-50vh">
    <div class="container g-py-50 g-py-150--md">
        <div class="row g-mb-50">
            <div class="col-lg-6">
                <div class="d-inline-block g-width-80 g-height-4 g-bg-black mb-3"></div>
                <h2 class="g-color-black g-font-weight-700 g-font-size-50 g-line-height-1 mb-4">Contact Us</h2>
                <p class="g-font-size-18 mb-10">Whether you are trying to get help with the site, have some cool ideas, want to report a user, or have an interesting business proposition feel free to
                    reach out to us here!</p>
                <p class="g-font-size-18 mb-0">We would love to hear your feedback to help make us even better. We use reddit to gather all user feedback in an open and transparent way! Visit our
                    subbreddit to participate in the discussion.</p>
            </div>

            <div class="col-lg-3 align-self-center ml-auto g-mb-50">
                <div class="media">
                    <div class="d-flex align-self-center">
              <span class="u-icon-v2 u-icon-size--sm g-color-white g-bg-primary rounded-circle mr-3">
                  <i class="g-font-size-16 icon-communication-033 u-line-icon-pro"></i>
                </span>
                    </div>
                    <div class="media-body align-self-center">
                        <h3 class="h6 g-color-black g-font-weight-700 text-uppercase mb-0">Email Address</h3>
                        <p class="mb-0"><a href="mailto:support@bokaru.com" target="_blank">support@bokaru.com</a></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 align-self-center ml-auto g-mb-50">
                <div class="media">
                    <div class="d-flex align-self-center">
              <span class="u-icon-v2 u-icon-size--sm g-color-white g-bg-primary rounded-circle mr-3">
                  <i class="g-font-size-16 icon-communication-062 u-line-icon-pro"></i>
                </span>
                    </div>
                    <div class="media-body align-self-center">
                        <h3 class="h6 g-color-black g-font-weight-700 text-uppercase mb-0">Reddit</h3>
                        <p class="mb-0">
                            <a href="https://www.reddit.com/r/bokaru/" target="_blank">/r/bokaru</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
