{% extends 'web/base.html' %}


{% load staticfiles %}


{% block header %}


<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Event",
  "name": "Jan Lieberman Concert Series: Journey in Jazz",
  "startDate": "2017-04-24T19:30-08:00",
  "location": {
    "@type": "Place",
    "name": "Santa Clara City Library, Central Park Library",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "2635 Homestead Rd",
      "addressLocality": "Santa Clara",
      "postalCode": "95051",
      "addressRegion": "CA",
      "addressCountry": "US"
    }
  },
  "image": "http://www.example.com/event_image/12345",
  "description": "Join us for an afternoon of Jazz with Santa Clara resident and pianist Andy Lagunoff. Complimentary food and beverages will be served.",
  "endDate": "2017-04-24T23:00-08:00",
  "offers": {
    "@type": "Offer",
    "url": "https://www.example.com/event_offer/12345_201803180430",
    "price": "30",
    "priceCurrency": "USD",
    "availability": "http://schema.org/InStock",
    "validFrom": "2017-01-20T16:20-08:00"
  },
  "performer": {
    "@type": "PerformingGroup",
    "name": "Andy Lagunoff"
  }
}

</script>


{% endblock %}

{% block content %}
{% load imagekit %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<!--=== Profile ===-->
<div class="container content profile">
    <div class="row">

        <!-- Profile Content -->
        <div class="col-md-12 card_container">
            <div class="profile-body">
                <div class="profile-bio">
                    <div class="row">
                        <div class="col-md-5">
                            {% ifequal event.photo '' %}
                            <img src="{% static 'account/images/default-avatar.png' %}" width="400px" height="400px"
                                 id="default_photo" class="img-responsive md-margin-bottom-10"/>
                            {% else %}
                            <img src="{{ event.photo.url }}" id="photo" class="img-responsive md-margin-bottom-10"/>
                            {% endifequal %}


                        </div>
                        <div class="col-md-7">
                            <h2>{{event.name}}</h2>

                            <hr>
                            <p>{{event.description}}</p>

                        </div>

                        <div class="col-md-7">
                            <div class="panel panel-sea margin-bottom-40" style="border: none;">
                                <div class="panel-heading" style="background-color: gray; color: white">
                                    <h3 class="panel-title" style="font-weight: 200; font-size: 12pt"><i
                                            class="fa fa-edit"></i> Event Details</h3>
                                </div>
                                <table class="table table-striped">

                                    <tbody>
                                    <tr>
                                        <td>Location</td>
                                        <td>{{event.locationName}}</td>

                                    </tr>

                                    <tr>
                                        <td>Date</td>
                                        <td>{{event.startDateTime}}</td>

                                    </tr>

                                    <tr>
                                        <td>Created By</td>
                                        <td>{{event.creator}}</td>

                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <div class="col-md-7">
                            <div class="panel panel-sea margin-bottom-40" style="border: none;">
                                <div class="panel-heading" style="background-color: gray; color: white">
                                    <h3 class="panel-title" style="font-weight: 200; font-size: 12pt"><i
                                            class="fa fa-edit"></i>Demographics</h3>
                                </div>
                                <table class="table table-striped">

                                    <tbody>
                                    <tr>
                                        <td>{{groups.0.name}}</td>
                                        <td>{{groups.0.ageMin}} - {{groups.0.ageMax}}</td>

                                    </tr>

                                    {% if num_groups == 2 %}
                                    <tr>
                                        <td>{{groups.1.name}}</td>
                                        <td>{{groups.1.ageMin}} - {{groups.1.ageMax}}</td>

                                    </tr>
                                    {% endif %}

                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div><!--/end row-->
                <div class="row margin-top-20">


                    <!--Design Skills-->
                    <div class="col-sm-6">
                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Space Left
                                </h2>
                                <a href="#"><i class="fa pull-right"></i></a>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="p-chart col-sm-6 col-xs-6 sm-margin-bottom-10">
                                        <div class="circle margin-bottom-20" id="circle-40"></div>
                                        <h3 class="heading-xs">{{groups.0}}</h3>
                                        <p>{{group1_spots_left}} spots left</p>
                                        <p><a class="btn-u btn-u-lg btn-u-red"
                                              href="{% url 'account:event_pay' groups.0.id %}">&nbsp; &nbsp; Join Group
                                            &nbsp; &nbsp; </a></p>
                                    </div>
                                    {% if num_groups == 2 %}
                                    <div class="p-chart col-sm-6 col-xs-6">
                                        <div class="circle margin-bottom-20" id="circle-50"></div>
                                        <h3 class="heading-xs">{{groups.1}}</h3>
                                        <p>{{group2_spots_left}} Spots left</p>
                                        <p><a class="btn-u btn-u-lg btn-u-red"
                                              href="{% url 'account:event_pay' groups.1.id %}">&nbsp; &nbsp; Join Group
                                            &nbsp; &nbsp; </a></p>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Design Skills-->

                    <!--Social Contacts v2-->
                    <div class="col-sm-6">
                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-lightbulb-o"></i> Share
                                    Event</h2>

                            </div>
                            <div class="panel-body">
                                <ul class="list-unstyled social-contacts-v3">
                                    <li><i class="rounded-x tw fa fa-twitter"></i> <a href="#">Twitter</a></li>
                                    <li><i class="rounded-x fb fa fa-facebook"></i> <a href="#">Facebook</a></li>
                                    <li><i class="rounded-x gp fa fa-google-plus"></i> <a href="#">Google Plus</a></li>
                                    <li><i class="rounded-x gm icon-envelope"></i> <a href="#">Email</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--End Social Contacts v2-->
                </div><!--/end row-->
            </div>
        </div>
        <!-- End Profile Content -->
    </div>


    <!--=== Profile ===-->

    <div class="row">


        <!-- Profile Content -->
        <div class="col-md-12">

            <div class="profile-body margin-bottom-20">
                <h2> {{groups.0.name}} </h2>
                <h4 style="font-weight: 200"> Ages {{groups.0.ageMin}} - {{groups.0.ageMax}} </h4>
                <!--Profile Blog-->
                <div class="row">

                    {% for participant in group1_participants %}


                    <div class="col-sm-6">
                        <div class="profile-blog margin-bottom-20">
                            {% ifequal participant.photo '' %}
                            <img src="{% static 'account/images/default-avatar.png' %}" class="rounded-x"/>
                            {% else %}
                            {% thumbnail '50x50' participant.photo -- class="rounded-x" %}
                            {% endifequal %}

                            <div class="name-location">
                                <strong>{{participant.fullName}}</strong>
                                <span><i class="fa fa-map-marker"></i><a href="#">Moscow,</a> <a
                                        href="#">Russia</a></span>
                            </div>
                            <div class="clearfix margin-bottom-20"></div>
                            <p>{{participant.summary}}</p>

                        </div>
                    </div>
                    {% endfor %}


                </div>
                {% if group2_participants.count > 0 %}
                <h2> {{groups.1.name}} </h2>
                <h4 style="font-weight: 200"> Ages {{groups.1.ageMin}} - {{groups.1.ageMax}} </h4>
                <div class="row">

                    {% for participant in group2_participants %}


                    <div class="col-sm-6">
                        <div class="profile-blog margin-bottom-20">
                            {% ifequal participant.photo '' %}
                            <img src="{% static 'account/images/default-avatar.png' %}" class="rounded-x"/>
                            {% else %}
                            {% thumbnail '50x50' participant.photo -- class="rounded-x" %}
                            {% endifequal %}

                            <div class="name-location">
                                <strong>{{participant.fullName}}</strong>
                                <span><i class="fa fa-map-marker"></i><a href="#">Moscow,</a> <a
                                        href="#">Russia</a></span>
                            </div>
                            <div class="clearfix margin-bottom-20"></div>
                            <p>{{participant.summary}}</p>

                        </div>
                    </div>
                    {% endfor %}


                </div>

                {% endif %}

            </div>


        </div>
        <!-- End Profile Content -->
    </div><!--/end row-->

    <!--=== End Profile ===-->


</div>
<!--=== End Profile ===-->


{% endblock %}


{% block javascript %}

<script type="text/javascript">
		jQuery(document).ready(function() {

			CirclesMaster.initCirclesMaster1();
			 //Circles 4
		    Circles.create({
		        id:         'circle-40',
		        percentage: {{group1_filled_percentage}},
		        radius:     35,
		        width:      2,
		        number:     {{group1_filled_percentage}},
		        text:       '%',
		        colors:     ['#eee', '#e74c3c'],
		        duration:   500
		    });

		     Circles.create({
		        id:         'circle-50',
		        percentage: {{group2_filled_percentage}},
		        radius:     35,
		        width:      2,
		        number:     {{group2_filled_percentage}},
		        text:       '%',
		        colors:     ['#eee', '#e74c3c'],
		        duration:   500
		    });




		});




</script>

{% endblock %}