{% extends 'web/base_nav.html' %}

{% load staticfiles %}

{% block content %}

<section class="g-min-height-50vh">
    <div class="container g-py-50 g-py-150--md">
        <div class="row g-mb-50">
            <div class="col-lg-6">
                <div class="d-inline-block g-width-80 g-height-4 g-bg-black mb-3"></div>
                <h2 class="g-color-black g-font-weight-700 g-font-size-50 g-line-height-1 mb-4">How It Works</h2>
            </div>
        </div>

        <div class="row justify-content-center g-mb-60">
            <div class="col-lg-7">
                <div class="text-center mb-4">
                    <h2 class="h3 text-uppercase mb-3">Our services</h2>
                    <div class="d-inline-block g-width-60 g-height-1 g-bg-black mb-2"></div>
                    <p class="lead mb-0">
                        We offer live video datings that run just like speed dating except from the comfort of home.
                        You'll meet up to 15 singles on a set of 5 minute dates and you can see who is attending before you even sign up.
                        Once the event is done you'll get your matches immediately so you can get the sparks flying!
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 g-mb-30">
                <div class="g-brd-around--md g-brd-gray-light-v4 text-center g-pa-10 g-px-30--lg g-py-40--lg">
                    <span class="d-block g-color-gray-dark-v4 g-font-size-40 g-mb-15">
                        <span class="u-icon-v2 g-rounded-5 g-mb-25">
                            <i class="icon-magnifier"></i>
                        </span>
                    </span>
                    <h3 class="g-color-black g-mb-10">Find the Right Event For You</h3>
                    <p class="g-color-gray-dark-v4">Whether it be dog lovers, cat walkers, sky divers, or cave dwellers find the right event and meet the singles you’ll like.</p>
                    <div class="d-inline-block g-width-40 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                    <ul class="list-unstyled g-px-30 g-mb-0">
                        <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Themed events to match your interests</li>
                        <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Event sizes to match your busy schedule.</li>
                        <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">View participants before you join.</li>
                        <li class="g-py-10">Can't find an event? Create your own</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 g-mb-30">
                <div class="g-brd-around--md g-brd-gray-light-v4 text-center g-pa-10 g-px-30--lg g-py-40--lg">
                    <span class="d-block g-color-gray-dark-v4 g-font-size-40 g-mb-15">
                        <span class="u-icon-v2 g-rounded-5 g-mb-25">
                            <i class="icon-user"></i>
                        </span>
                    </span>
                    <h3 class="g-color-black g-mb-10">Read Profiles</h3>
                    <p class="g-color-gray-dark-v4">Don't waste time asking your date basic questions, read their profile upfront then get to the important questions faster!</p>
                    <div class="d-inline-block g-width-40 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                    <ul class="list-unstyled g-px-30 g-mb-0">
                        <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Get the basics out of the way</li>
                        <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Learn about their lifestyle choices</li>
                        <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Find out what they are looking for.</li>
                        <li class="g-py-10">See their profile picture before you meet</li>

                    </ul>
                </div>
            </div>
            <div class="col-md-4 g-mb-30">
                <div class="g-brd-around--md g-brd-gray-light-v4 text-center g-pa-10 g-px-30--lg g-py-40--lg">
                    <span class="d-block g-color-gray-dark-v4 g-font-size-40 g-mb-15">
                        <span class="u-icon-v2 g-rounded-5 g-mb-25">
                            <i class="icon-camera"></i>
                        </span>
                    </span>
                    <h3 class="g-color-black g-mb-10">Live Video Dates</h3>
                    <p class="g-color-gray-dark-v4">No messaging only dating. Have up to 15 live video dates today.</p>
                    <div class="d-inline-block g-width-40 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                    <ul class="list-unstyled g-px-30 g-mb-0">
                        <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Actually meet to real people live</li>
                        <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">No downloads required</li>
                        <li class="g-py-10">View your date lineup before you begin</li>

                    </ul>
                </div>
            </div>

            <div class="col-md-4 g-mb-30">
                <div class="g-brd-around--md g-brd-gray-light-v4 text-center g-pa-10 g-px-30--lg g-py-40--lg">
                    <span class="d-block g-color-gray-dark-v4 g-font-size-40 g-mb-15">
                        <span class="u-icon-v2 g-rounded-5 g-mb-25">
                            <i class="icon-note"></i>
                        </span>
                    </span>
                    <h3 class="g-color-black g-mb-10">Take Notes</h3>
                    <p class="g-color-gray-dark-v4">The best part of meeting so many people is trying to remember who is who so take notes as you go to remember those special someones.</p>
                    <div class="d-inline-block g-width-40 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                    <ul class="list-unstyled g-px-30 g-mb-0">
                        <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Take notes based on what you see on their profile</li>
                        <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">Refer to notes during dates</li>
                        <li class="g-py-10">Write down what you think so you can remember your date later.</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 g-mb-30">
                <div class="g-brd-around--md g-brd-gray-light-v4 text-center g-pa-10 g-px-30--lg g-py-40--lg">
                    <span class="d-block g-color-gray-dark-v4 g-font-size-40 g-mb-15">
                        <span class="u-icon-v2 g-rounded-5 g-mb-25">
                            <i class="icon-heart"></i>
                        </span>
                    </span>
                    <h3 class="g-color-black g-mb-10">Instant Matches</h3>
                    <p class="g-color-gray-dark-v4">Don’t wait a week to find out if that special lady or gentleman likes you back; once you click, start clicking.</p>
                    <div class="d-inline-block g-width-40 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                    <ul class="list-unstyled g-px-30 g-mb-0">
                        <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">You'll see who liked you back at the end of the event.</li>
                        <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10">You can start talking IRL while you still remember who they are.</li>
                        <li class="g-py-10">See who your past matches are from previous events.</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 g-mb-30 g-color-primary">
                <div class="g-brd-around--md g-brd-gray-light-v4 text-center g-pa-10 g-px-30--lg g-py-40--lg">
                    <span class="d-block g-color-primary g-font-size-40 g-mb-15">
                        <span class="u-icon-v2 g-rounded-5 g-mb-25">
                            <i class="icon-direction"></i>
                        </span>
                    </span>
                    <h3 class="g-mb-10 ">Start Now</h3>
                    <p class="">Why are you still here?</p>
                    <div class="d-inline-block g-width-40 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                    <ul class="list-unstyled g-px-30 g-mb-0">
                        <li class="nav-item g-mx-20--lg">
                            <a href="{% url 'web:search' %}" class="btn btn-lg u-btn-primary g-mb-10 rounded-0">Find Events</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
