{% extends 'web/base_nav.html' %}

{% load staticfiles %}

{% block nav_location %}nav_home{% endblock %}

{% block content %}
<!-- Promo Block -->
<section class="g-pos-rel g-bg-black" style="font-family: Comfortaa, cursive; animation-duration: 1500ms;">
    <div class="container text-center g-z-index-1 g-py-150">

        <h3 class="g-color-white g-font-weight-700 g-font-size-40 g-font-size-55--md text-uppercase g-mb-40"
            data-animation="fadeInUp" data-animation-delay="800" data-animation-duration="1500">
            Speed dating. Online.
        </h3>

        <h4 class="g-color-white g-font-size-30 g-font-size-30--md g-mb-40"
            data-animation="fadeInUp" data-animation-delay="1000" data-animation-duration="1500"
        style="font-family: 'Comfortaa', cursive;">
            Meet the people you'll like.
        </h4>

        <div data-animation="fadeInUp" data-animation-delay="1200" data-animation-duration="1500">
            <a class="btn btn-lg u-btn g-color-white g-bg-white-opacity-0_2 g-color-black--hover g-bg-white--hover g-font-weight-600 g-font-size-13 text-uppercase g-rounded-5 mx-2 g-px-25 g-py-15"
               href="{% url 'account:register' %}">Sign Up</a>
            <a class="btn btn-lg g-bg-primary u-btn g-color-white g-bg-white-opacity-0_2 g-color-black--hover g-bg-white--hover g-font-weight-600 g-font-size-13 text-uppercase g-rounded-5 mx-2 g-px-25 g-py-15"
               href="{% url 'web:search' %}">Find Events</a>
        </div>
    </div>
</section>
<!-- End Promo Block -->

<!-- Highlights -->
<section class="clearfix">
    <div class="row no-gutters">
        <div class="col-lg-4">
            <div class="g-bg-bluegray g-color-white text-center g-py-20 g-px-50">
            <span class="u-icon-v2 g-rounded-5 g-mb-25">
              <i class="icon-magnifier"></i>
            </span>
                <h3 class="h4 g-font-weight-600 mb-30">Fun Events</h3>
                <p class="g-color-white-opacity-0_8">Events based on interest and location or create your own!</p>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="g-bg-bluegray g-color-white text-center g-py-20 g-px-50">
            <span class="u-icon-v2 g-rounded-5 g-mb-25">
              <i class="icon-camera"></i>
            </span>
                <h3 class="h4 g-font-weight-600 mb-30">Live Video Dates</h3>
                <p class="g-color-white-opacity-0_8">Just like a speed dating event but from the comfort of home. </p>

            </div>
        </div>

        <div class="col-lg-4">
            <div class="g-bg-bluegray g-color-white text-center g-py-20 g-px-50">
            <span class="u-icon-v2 g-rounded-5 g-mb-25">
              <i class="icon-heart"></i>
            </span>
                <h3 class="h4 g-font-weight-600 mb-30">Fast Matches</h3>
                <p class="g-color-white-opacity-0_8">Get your matches right away: once you click start clicking!</p>
            </div>
        </div>
    </div>

</section>

<!-- End Highlights -->





<!-- How it works -->
<section class="container u-ns-bg-v1-bottom g-bg-white g-pt-100 g-pb-70">

    <div class="row">
        <div class="col-md-12 text-center margin-bottom-90 g-pb-30">
            <h2 class="title-v2 title-center g-pb-10">Skip the messaging, start the dating.</h2>
            <h4 class="title-v2 title-center g-pb-10">Don't like your date? They'll be gone in 5 minutes.</h4>
            <h4 class="title-v2 title-center g-pb-10">Think it's a match? You'll know within the hour.</h4>
            <div class="col-md-12 align-self-center">
                <a class="btn btn-md g-bg-primary g-color-white u-btn-outline-white g-brd-2 rounded-0" href="{% url 'web:how_it_works' %}">How It Works</a>
            </div>
        </div>







</section>
<!-- End How it works -->

<!-- Call to action -->
<section class="g-bg-primary g-color-white g-py-50 g-pa-30">
    <div class="container">
        <div class="row">
            <div class="col-md-9 align-self-center">
                <h3 class="h4">Let the fun begin
                </h3>
                <p class="lead g-mb-20 g-mb-0--md">Browse events near you. You only pay for events you attend.</p>
            </div>

            <div class="col-md-3 align-self-center text-md-right">
                <a class="btn btn-md u-btn-outline-white g-brd-2 rounded-0" href="{% url 'web:search' %}">Find Events</a>
            </div>
        </div>
    </div>
</section>
<!-- End call to action -->



{% endblock %}


{% block javascript %}
<script>
    gtag('event', 'landing_view', {
        'event_category': 'engagement',
    });
</script>
{% endblock %}
