{% extends 'web/base.html' %}


{% block javascript %}


<script>


	function initMap() {
			var autocomplete = new google.maps.places.Autocomplete(document.getElementById('searchBox'));

			var geocoder = new google.maps.Geocoder();
			document.getElementById('searchButton').addEventListener('click', function() {
         		 geocodeAddress(geocoder);
        	});

        }


function geocodeAddress(geocoder) {

	var address = document.getElementById('searchBox').value;
		geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {

            console.log("Longitude: " + results[0].geometry.location.lng());
            console.log("Latitude: " + results[0].geometry.location.lat());

			for (component in results[0].address_components)
			{

				for (type in results[0].address_components[component].types)
				{
					if (results[0].address_components[component].types[type] == 'locality')
					{
						console.log("City: " + results[0].address_components[component].long_name);
					}

					if (results[0].address_components[component].types[type] == 'administrative_area_level_1')
					{
						console.log("State: " + results[0].address_components[component].short_name);
					}
				}
			}

          } else {
            console.log('Geocode was not successful for the following reason: ' + status);
          }
        });
}



</script>



<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLJqyRqu7Mfr0xJ1OFwFxFxmCZDxX7fxQ&callback=initMap&libraries=places"
  type="text/javascript"></script>


{% endblock %}


{% block content %}


{% load staticfiles %}


<div class="container">
    <div class="row">


        <!-- Profile Content -->
				<div class="col-md-12">
					<div class="profile-body">
						<!--Service Block v3-->
						<div style="height: 1000px" class="row margin-bottom-10">
							<div class="col-sm-12 sm-margin-bottom-20">

									<div class="margin-bottom-100"></div>
									<div class="col-sm-12">
									<h2 class="heading-md">Find Events Near You</h2>
									</div>

									<div class="col-sm-12" style="">
										<input style="border: none; border-bottom: 1px solid black; height: 150px; font-size: 80px;" class="form-control input-lg" id="searchBox" type="text"></input>
									</div>
									<div class="margin-bottom-20"></div>
									<div class="col-sm-12">
										<input id="searchButton" class="btn-u btn-u-lg btn-u-red" type="button" value="Search" style="float: right; width: 20%; min-width: 100px;"></input>
									</div>





							</div>


						</div><!--/end row-->
						<!--End Service Block v3-->


					</div>
				</div>
				<!-- End Profile Content -->
    </div>
</div>
{% endblock %}
