{% extends 'web/base_nav.html' %}

{% load staticfiles %}
{% load event_tags %}
{% load account_tags %}

{% block nav_location %}nav_home{% endblock %}

{% block content %}
<section class="g-mb-100">
    <div class="container">
        <div class="row g-min-height-50vh">
            <div class="col-lg-4">
                <!-- User Image -->
                <div class="g-mb-20">
                    <div class="u-shadow-v2 g-brd-around g-brd-gray-light-v4 g-line-height-2">
                        {% if account.photo is None or account.photo.name == '' %}
                        <img class="img-fluid w-100" src="{% static 'web/images/user_default_image.jpg' %}"
                             alt="Default picture" id="default_avatar"/>
                        {% else %}
                        <img class="img-fluid w-100" src="{{ account.photo.url }}" alt="Profile picture"
                             id="avatar"/>
                        {% endif %}
                    </div>

                    <div class="list-group list-group-border-0 g-mb-40">
                        <a href="{% url 'account:view' %}" class="list-group-item list-group-item-action justify-content-between">
                            <span><i class="icon-user g-pos-rel g-top-1 g-mr-8"></i> My Profile</span>
                        </a>
                        <a href="{% url 'account:preferences' %}" class="list-group-item list-group-item-action justify-content-between">
                            <span><i class="icon-settings g-pos-rel g-top-1 g-mr-8"></i> My Account</span>
                        </a>
                        {% if remaining_credit > 0 %}
                        <div class="list-group-item list-group-item-action justify-content-between">
                            <span><i class="icon-present g-pos-rel g-top-1 g-mr-8"></i> Remaining site credit: CAD ${{ remaining_credit|floatformat:"2" }}</span>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-8 g-mt-50--md">
                <h1>Upcoming Events</h1>
                {% if future_events|length == 0 %}
                <h3>Nothing here yet. Why not register for something?</h3>
                <a href="{% url 'web:search' %}" class="btn btn-lg btn-block u-btn-black g-my-20 rounded-0">
                    Search events
                </a>

                {% else %}

                {% for event in future_events %}
                <!-- Event -->
                <div class="g-mb-15">
                    {% render_event_large event %}
                </div>
                <!-- End Event -->
                {% endfor %}
                {% endif %}

                <hr/>

                <h1>Latest matches</h1>
                {% if latest_matches|length == 0 %}
                <h3>Nothing here yet, let's keep trying!</h3>
                <a href="{% url 'web:search' %}" class="btn btn-lg btn-block u-btn-black g-my-20 rounded-0">
                    Search events
                </a>
                {% else %}
                {% for match in latest_matches %}
                {% render_profile_medium_by_user match %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
<script>
    gtag('event', 'visit_home', {
        'event_category': 'engagement',
    });
</script>
{% endblock %}