{% extends 'web/base_nav.html' %}

{% load staticfiles %}

{% block content %}
<section class="g-min-height-50vh">
    <div class="container g-py-50 g-py-150--md">
        <div class="row g-mb-50">
            <div class="col-lg-6">
                <div class="d-inline-block g-width-80 g-height-4 g-bg-black mb-3"></div>
                <h2 class="g-color-black g-font-weight-700 g-font-size-50 g-line-height-1 mb-4">Pricing</h2>
            </div>
        </div>

        <div class="row align-items-end">
            <div class="col-4">
                <article class="text-center u-zigzag-top u-zigzag-bottom g-color-black">
                    <header class="g-brd-bottom g-brd-3 g-brd-black g-px-20 g-py-15">
                        <h3 class="h5 text-uppercase g-font-weight-700 g-mb-5">Small Event</h3>
                    </header>
                    <div class="g-brd-bottom--dotted g-brd-gray-dark-v5 g-px-20 g-py-40">
                        Quick and sweet 30-minute event. <br> Meet up to 5 people!
                    </div>
                    <div class="g-brd-bottom--dotted g-brd-gray-dark-v5 g-pa-20">
                        <ul class="list-unstyled">
                            <li>
                                <strong class="d-block g-font-size-35"><i class="icon-people"></i> 5 dates</strong>
                            </li>
                            <li>
                                <strong class="d-block g-font-size-35"><i class="icon-clock"></i> 30 minutes</strong>
                            </li>
                            <li>
                                <strong class="d-block g-font-size-35 g-color-primary">$20</strong>
                            </li>
                        </ul>
                    </div>

                    <!-- CTA -->
                    <div class="g-pa-20">
                        <a class="btn text-uppercase w-100 u-btn-outline-primary g-brd-2 rounded-0 g-font-weight-700 g-pa-15-30" href="#">Search</a>
                    </div>
                    <!-- End CTA -->
                </article>
            </div>

            <div class="col-4">
                <article class="text-center u-zigzag-top u-zigzag-bottom g-color-black">
                    <header class="g-brd-bottom g-brd-3 g-brd-black g-px-20 g-py-15">
                        <h3 class="h5 text-uppercase g-font-weight-700 g-mb-5">Medium Event</h3>
                    </header>

                    <div class="g-brd-bottom--dotted g-brd-gray-dark-v5 g-px-20 g-py-40">
                        A fun and awesome 60-minute event. <br> Meet up to 10 people!
                    </div>

                    <div class="g-brd-bottom--dotted g-brd-gray-dark-v5 g-pa-20">
                        <ul class="list-unstyled">
                            <li>
                                <strong class="d-block g-font-size-35"><i class="icon-people"></i> 10 dates</strong>
                            </li>
                            <li>
                                <strong class="d-block g-font-size-35"><i class="icon-clock"></i> 60 minutes</strong>
                            </li>
                            <li>
                                <strong class="d-block g-font-size-35 g-color-primary">$40</strong>
                            </li>
                        </ul>
                    </div>

                    <!-- CTA -->
                    <div class="g-pa-20">
                        <a class="btn text-uppercase w-100 u-btn-outline-primary g-brd-2 rounded-0 g-font-weight-700 g-pa-15-30" href="#">Search</a>
                    </div>
                    <!-- End CTA -->
                </article>
            </div>

            <div class="col-4">
                <article class="text-center u-zigzag-top u-zigzag-bottom g-color-black">
                    <header class="g-brd-bottom g-brd-3 g-brd-black g-px-20 g-py-15">
                        <h3 class="h5 text-uppercase g-font-weight-700 g-mb-5">Large Event</h3>
                    </header>

                    <div class="g-brd-bottom--dotted g-brd-gray-dark-v5 g-px-20 g-py-40">
                        Maximum amounts of fun in 90 minutes! <br> Meet up to 15 people!
                    </div>

                    <div class="g-brd-bottom--dotted g-brd-gray-dark-v5 g-pa-20">
                        <ul class="list-unstyled">
                            <li>
                                <strong class="d-block g-font-size-35"><i class="icon-people"></i> 15 dates</strong>
                            </li>
                            <li>
                                <strong class="d-block g-font-size-35"><i class="icon-clock"></i> 90 minutes</strong>
                            </li>
                            <li>
                                <strong class="d-block g-font-size-35 g-color-primary">$60</strong>
                            </li>
                        </ul>
                    </div>

                    <!-- CTA -->
                    <div class="g-pa-20">
                        <a class="btn text-uppercase w-100 u-btn-outline-primary g-brd-2 rounded-0 g-font-weight-700 g-pa-15-30" href="#">Search</a>
                    </div>
                    <!-- End CTA -->
                </article>
            </div>
        </div>
    </div>
</section>
{% endblock %}
