{% extends 'web/base_nav.html' %}

{% load staticfiles %}

{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-12 g-my-50">
                <h1>Refund Policy</h1>
                <hr>
                <h2>When do you pay?</h2>
                <p>When you join an event that starts in 24 or more hours from the current time, you will be added to the list of participants, but you will not be charged. Approximately 24 hours
                    before the event's start time your card will be charged the required amount and your participation in the event will be confirmed. If you drop out from the event before that
                    24-hour deadline, there will be no need for a refund.</p>
                <p>In a case when the event has insufficient number of attendees (less than 80% of the full capacity across all groups in the event), the event will be cancelled and you will not be
                    charged for it.</p>
                <p>If you join an event that starts within 24 hours, your credit card will be charged right away.</p>

                <h2>Applying for a refund</h2>
                <p>If you apply for a refund prior to attending an event it must be any time between when you sign up for that event and before the 24 hours immediately preceding the event.</p>
                <p>To complete your refund, we require a receipt or proof of purchase which may require us to ask you for some information that you used to sign up for the event such as your user
                    name, email address, etc.</p>
                <p>These are the situations where refunds are granted after an event has already taken place:</p>
                <ul>
                    <li>You were exposed to inappropriate behaviour from another participant in the event and can tell us the user name of that user as would be shown to you during the event and you
                        clicked on the Report Abuse or equivalent button during the event when the abuse occurred.
                    </li>
                    <li>The audio or video connection was not functional for you even though you were using one of the supported browsers and devices as listed on the Supported Browsers and Devices
                        page of our site.
                    </li>
                </ul>
                <p>To apply for a refund please contact us at <a href="mailto:admin@bokaru.com" target="_blank">admin@bokaru.com</a>.</p>
                <h2>Refunds (if applicable)</h2>
                <p>Once your refund request is received and inspected, we will send you an email to notify you that we have received your request. We will also notify you of the approval or rejection
                    of your refund.</p>
                <p>If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within 10 days.</p>
                <h2>Late or missing refunds (if applicable)</h2>
                <p>If you haven't received a refund yet after 10 days following written approval of your refund request, first check your bank account again.</p>
                <p>Then contact your credit card company, it may take some time before your refund is officially posted.</p>
                <p>Next contact your bank. There is often some processing time before a refund is posted.</p>
                <p>If you've done all of this and you still have not received your refund yet, please contact us at <a href="mailto:admin@bokaru.com" target="_blank">admin@bokaru.com</a>.</p>
                <h2>Sale items (if applicable)</h2>
                <p>Only regular priced services may be refunded, unfortunately services which are offered at a discounted rate cannot be refunded.</p>
                <h2>Gifts</h2>
                <p>If the item was marked as a gift or free of charge when purchased, then there is no refund available.</p>

                <hr>
            </div>
        </div>
    </div>
</section>
{% endblock %}
