{% extends 'web/base_nav.html' %}

{% load staticfiles %}

{% block content %}

<section class="g-mb-100 g-min-height-50vh">
    <section class="container g-py-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">

                    <div class="d-inline-block g-width-80 g-height-4 g-bg-black mb-3"></div>
                    <h2 class="g-color-black g-font-weight-700 g-font-size-50 g-line-height-1 mb-4">Safety Tips</h2>

                </div>

                <div class="col-12 g-my-50">
                    <h2>How to Date Safely</h2>
                    <p>At Bokaru, user safety comes first. To stay safe, there are certain steps that you must take while dating, whether that be online or in real life.
                    </p>
                    <p>Please read the information below and remember that you are always the best judge of your safety. These guidelines are not intended to be a substitute for your own judgment.
                    </p>

                    <h2>Online Behavior:</h2>
                    <p>Never respond to any request to send money, especially overseas or by wire transfer, and report it to us immediately – even if the person claims to be in an emergency. Wiring money is like sending cash: the sender has no protections against loss and it’s nearly impossible to reverse the transaction or trace the money. For more information, click on the video below to the U.S. Federal Trade Commission's advice to avoid online romance scams, also available here: http://onguardonline.gov/articles/0004-online-dating-scams.</p>
                    <p>Never give personal information, such as: your social security number, credit card number or bank information, or your work or home address to people you don’t know or haven’t met in person.
                    </p>
                    <p><i>Note: Bokaru will never send you an email asking for your username and password information. Any such communications should be reported immediately.
                    </i></p>
                    <p>Block and report suspicious users. You can block and report concerns about any suspicious user anonymously from any profile page, email or messaging window. Keep conversations on the platform. Bad actors will try to move the conversation to text, personal email or phone conversations.
                    </p>
                    <p>Additionally, please report anyone who violates our Terms & Conditions here to support@bokaru.com. <br/>
                        Examples of violations include:
                        <ul>
                            <li>Asking you for money or donations</li>
                            <li>Requesting photographs</li>
                            <li>Minors using the platform</li>
                            <li>Members sending harassing or offensive messages or emails</li>
                            <li>Members behaving inappropriately during or after meeting in person</li>
                            <li>Fraudulent registration or profiles</li>
                            <li>Spam or solicitation, such as invitations to call 1-900 numbers or attempts to sell products or service</li>
                        </ul>
                    </p>

                    <h2>Offline Behavior:</h2>
                    <p>First in-person meetings are great, but you must always take precautions and follow these guidelines to help you stay safe.</p>
                    <p>Get to know the other person as well as you can before you meet</p>
                    <p>Keep your communications online until you really get to know users online/using the app before meeting them in person. Bad actors often push people to communicate off the platform immediately. It’s up to you to research and do your due diligence.
                    </p>
                    <p>Whatever contact information you share with people make sure it cannot be used to personally identify you.
                    </p>
                    <p>Meet for the first few times in a populated, public place – never in a private or remote location and never at your date’s home or apartment. If your date pressures you, end the date and leave at once.
                    </p>
                    <p>Inform a friend or family member of your plans and when and where you’re going. Make sure you have your cell phone charged and with you at all times.
                    </p>
                    <p>You need to be independent and in control of your own transportation, especially in case things don’t work out.
                    </p>
                    <p>Consumption of alcohol and/or other drugs can impair your judgment and potentially put you in danger. It’s important to keep a clear mind and avoid anything that might place you at risk. Be aware that bad actors might try to take advantage of you by altering your beverage(s) with synthetic substances.
                    </p>

                    <h2>Health</h2>
                    <p>Bokaru welcomes everyone and empowers our community of users to create long lasting relationships. An important aspect of any healthy relationship – whether formed on Bokaru or not – is ensuring proper sexual health and safety. As a member of the Bokaru community it is your responsibility to make sure you do the following, if you choose to engage in sexual activity:
                    </p>
                    <p>You and your partner should use proper protection. Condoms and other mechanisms can significantly reduce the risk of contracting or passing on a sexually transmitted infection (STI), such as HIV. However, you can still get certain STI’s, like herpes or HPV from contact with your partner’s skin even when using a condom. To be effective, however, protective measures must be used consistently.
                    </p>
                    <p>It is completely reasonable to have a conversation with your partner regarding sex and sexual contact before actually having it. All issues ranging from the number of partners each of you has had, to the last time each of you was tested for STI’s are fair game. Many STI’s are curable or treatable. If either you or your partner has an STI that is curable, you both need to start treatment to avoid becoming re-infected. It is important to be completely honest in these conversations.</p>
                    <p>The risk of contracting some STI’s can be reduced through vaccination. Talk to your doctor or a professional at a sexual health clinic to learn more.
                    </p>
                    <p>Know your status. Some STI’s don't show symptoms. Regular testing is critical to staying on top of your health and helping prevent the spread of STI’s After testing, always ask for a copy of your test results so you are sure of your status.</p>


                    <h2>For Further Help, Support, or Advice:</h2>
                    <p>In the case that something has happened, immediately call 911. Emergency situations include a recent threat of violence or sexual violence, recent act of violence or sexual violence, or if your health or someone else’s is in danger.
                    </p>
                    <p>If something has happened and you’re in need of help, support, or advice pertaining to physical or sexual assault, please call the below 24-hour hotlines.
                    </p>
                    <p>Rape, Abuse and Incest National Hotline
                    </p>
                    <p>1-800-656-HOPE | <a href="https://www.rainn.org/">https://www.rainn.org/</a>
                    </p>
                    <p>Planned Parenthood </p>
                    <p>1-800-230-7526 | <a href="https://www.plannedparenthood.org">https://www.plannedparenthood.org</a>
                    </p>
                    <p>National Domestic Violence Hotline
                    </p>
                    <p>1-800-799-SAFE (7233) or 1-800-787-3224 | <a href="https://www.thehotline.org">https://www.thehotline.org</a>
                    </p>
                    <p>Additionally, if you are aware of anyone who violates our Terms & Conditions, please report them to support@bokaru.com.</p>
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock %}
