{% extends 'web/base.html' %}

{% load staticfiles %}


{% block header %}

<link rel="stylesheet" href="{% static 'web/theme/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css' %}">

<link rel="stylesheet"
      href="{% static 'web/theme/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css' %}">

{% endblock %}


{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit"/>
</form>

<!--=== Cube-Portfdlio ===-->
<div class="cube-portfolio container margin-bottom-60">
    {% for event in search_result %}
    <div class="cbp-title-dark">
        <div class="cbp-l-grid-agency-title"><a href="{% url 'web:event_view' event.id %}">{{event.name}}</a></div>
        <div class="cbp-l-grid-agency-desc">{{event.description}}</div>
        <div class="cbp-l-grid-agency-desc">{{event.locationName}}</div>
        <div class="cbp-l-grid-agency-desc">{{event.startDateTime}}</div>
    </div>
    {% endfor %}

</div>
<!--=== End Cube-Portfdlio ===-->
{% endblock %}


{% block javascript %}

<script type="text/javascript"
        src="{% static 'web/theme/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js' %}"></script>
<script type="text/javascript" src="{% static 'web/theme/js/plugins/cube-portfolio/cube-portfolio-2.js' %}"></script>

{% endblock %}