 button {
    border: none;
    border-radius: 4px;
    outline: none;
    text-decoration: none;
    color: #fff;
    background: #e74c3c;
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.025em;
    text-decoration: none;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    float: left;
    margin-left: 12px;
    margin-top: 25px;

    }

.center {
    text-align: center;
}

.float-right {
    float: right;
}

.float-none {
    float: none;
}

.shade {
    background-color: #f7f7f7;
}



.credit_card_pay_input {
       float: none;
       margin-right: auto;
       margin-left: auto;
}

.card_info {
    font-size: 15pt;
    color: gray;
}

.card_info_container {
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    padding-left: 30px;
}



h2 {
    font-weight: 200;
}

.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 15px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}


.event_title {
    text-align: center;
    font-weight: 200;
    font-size: 30pt;
}


.event_price, .event_date {
    margin-top: 20px;
    text-align: center;
    font-size: 25pt;
}

.event_date {
    font-size: 20pt;
}


.card_save_container h5 {
    text-align: center;
}


